/*1325576519,169775559*/

.profile_box .reviews{padding-bottom:15px}
.Reviews_Row{padding-bottom:6px;border-bottom:1px solid #eee;margin-bottom:6px;font-size: 13px;line-height:16px}
.Reviews_Row .Reviews_Name{padding-right:8px;font-weight:bold}
.Reviews_Row .review_header_rating{display:inline}
.Reviews_Row .UIActionLinks{font-size: 11px}
.Reviews_Row .review_body{margin:2px 0}
.Reviews_Create{text-align:right}
.Reviews_Buttons{text-align:right;padding-bottom:8px}
.review_header{padding-bottom:0;padding-top:0}
.review_rows{border-collapse:collapse}
.review_rows .reviews_content{padding-bottom:6px;margin-bottom:6px;font-size: 13px}
.review_rows .reviews_name{padding-right:8px;font-weight:bold}
.review_rows .review_header_rating{display:inline}
.review_rows .UIActionLinks{font-size: 11px}
.review_rows .review_body{margin:2px 0}
.review_rows tr td{padding:5px 0;border-bottom:1px solid #e1e1e1}
.review_rows .rev_icon a,.Reviews_Row .rev_icon span{display:block;margin-top:1px;width:17px;height:14px;padding-left:10px;text-decoration:none}
.review_rows .approved .rev_icon a:hover{background:#f4f8fc url(http://static.ak.fbcdn.net/rsrc.php/v1/yX/r/cWkrexhQR4U.gif) no-repeat 11px center}
.review_rows .rev_icon a:hover{background:#fff url(http://static.ak.fbcdn.net/rsrc.php/v1/yX/r/cWkrexhQR4U.gif) no-repeat 11px center}
.review_rows .approved .rev_icon a{background:#f4f8fc url(http://static.ak.fbcdn.net/rsrc.php/v1/yX/r/cWkrexhQR4U.gif) no-repeat 11px center}
.review_rows .checkbox_toggle{width:35px;margin-top:25px;vertical-align:top}
.invisible{opacity:.5}
.reviews_header{clear:both;color:#444;padding:2px 8px 2px 8px;border-top:solid 1px #ccc;overflow:hidden;background:#eee}
.reviews_header .reviews_header_text{float:left}
table.review_display{float:left;padding:10px 10px 0 10px;margin-bottom:0;margin:0}
.review_display td{padding:0 0 3px 5px;vertical-align:top}
.review_display .review_pic_column{width:50px}
.review_display .review_header{margin:0}
.review_display .review_header .review_header_title{color:#444;font-weight:bold;font-size: 13px;float:left}
.review_display .review_header .review_header_rating{float:left;padding-right:5px;padding-top:2px}
.review_display .review_header .review_header_subtitle_line{clear:both;padding:0;margin:0;padding-top:2px;padding-left:0;color:#666}
.review_display .review_body{margin-top:5px;line-height:15px}
.reviews_section_separator{border-bottom:solid 1px #ccc;clear:both;margin-left:8px;margin-right:8px;padding-top:10px}
.aggregate_review{padding-top:5px}
.aggregate_review .review_header_rating{float:left;width:65px}
.aggregate_review .average_rating_desc{float:left;width:100px}
.aggregate_review .aggregate_review_title{color:gray}
.reviews_edit .reviews_settings{padding:20px 131px}
.reviews_edit .reviews_settings .reviews_settings_table{margin:10px 6px}
reviews_edit .reviews_settings .reviews_settings_table.label{color:#000;font-weight:normal}
.reviews_dialog_editor #reviews_editor{margin-left:15px;margin-right:15px}
.reviews_dialog_editor #reviews_editor input{width:319px}
.reviews_dialog_editor #reviews_editor textarea{width:360px}
#box_app_6261817190 .inside{margin:0;padding:0;width:416px}
#box_app_6261817190 #reviews_inline_editor{padding:10px 17px}
#box_app_6261817190 #reviews_inline_editor #reviews_editor textarea{width:374px;font-size: 11px}
.reviews_inline_editor .review_title{padding:0;margin:0;padding-top:0}
.reviews_inline_editor .field_title{font-weight:bold;color:#777;float:left;padding-right:5px}
.reviews_inline_editor .review_rating_editor img{margin:0;padding:0 2px 0 0}
.reviews_inline_editor .review_blurb_editor{padding-top:8px;padding-bottom:8px}
.reviews_inline_editor #reviews_editor textarea{height:50px;width:485px;font-size: 13px}
#review_editor_error{padding:10px;background-color:#ffebe8;border:1px solid #dd3c10;margin:0 0 8px 0}
#review_editor_status{padding:10px;background-color:#fff9d7;border:1px solid #e2c822;margin:0 0 8px 0}
.embedded_review span.leave_rating_label{float:left;line-height:1.2}
.embedded_review span.stars{display:inline;margin-left:5px}
.embedded_review textarea#review_blurb{display:block;height:60px;width:350px;margin-top:10px}
.embedded_review .hidden{display:none}
#fbTranslationsNub .fbNubFlyout{width:219px}
#fbTranslationsNub .xmode_row{line-height:15px;padding:0 10px 2px 10px}
#fbTranslationsNub .xmode_row_last{line-height:15px;margin:0 10px 0 10px;padding:5px 0 10px;border-top:1px solid #e7e7e7}
#fbTranslationsNub .xselect{padding:5px 6px}
#fbTranslationsNub .xselect select{width:100%}
#fbTranslationsNub .translation_options{padding:8px 0}
#fbTranslationsNub .xexplain{margin:5px 10px 0 10px;padding-bottom:5px;line-height:15px;border-bottom:1px solid #e7e7e7;color:#555}
#dropmenu_container .flyout_menu{font-size: 11px;line-height:normal}
.flyout_menu{position:absolute;margin-top:-5px;/* @noflip */ margin-left:-5px;top:0;/* @noflip */ left:0;padding:0;overflow:visible;width:196px;z-index:20}
.flyout_menu .flyout_menu_header_shadow{margin:0;padding:0;margin-top:1px;overflow:visible;position:relative}
.flyout_menu .flyout_menu_header{margin:0;padding:0;margin-top:-1px;border:1px solid #333}
.flyout_menu .flyout_menu_header .flyout_menu_mask{width:27px;height:24px;border:4px solid white;border-right:0;margin:0;/* @noflip */ float:left;padding:0}
.flyout_menu .flyout_menu_header .flyout_menu_title{padding:8px 5px 4px 8px;height:18px;color:#666;text-align:left;float:left;width:150px;background-color:#fff}
.flyout_menu .flyout_menu_content_shadow{background:#eee;border:1px solid #333;border-top:0;/* @noflip */ float:right;clear:left;margin:0;padding:0;position:relative;margin-top:-1px}
.flyout_menu .menu_content{width:163px;padding:3px 0 2px;border-top:1px solid #ccc;margin:0;clear:both}
.flyout_menu .menu_custom{overflow:hidden;padding:5px 8px}
.flyout_menu .menu_content .item{clear:both;overflow:hidden;padding:3px 0}
.flyout_menu .menu_content label{float:left;font-weight:normal;padding-top:1px}
.flyout_menu .menu_content .inputcheckbox{float:left;margin:0 4px 0 0}
.flyout_menu .menu_separator{background:#ccc;clear:both;font-size:0;height:1px;line-height:1px;margin:3px 6px;overflow:hidden;padding:0}
.link_menu .menu_content a,
.link_menu_list .menu_content ul li a.tab_link{height:auto;width:auto;display:block;overflow:hidden;margin:0;overflow:hidden;padding:5px 8px 5px 8px}
.link_menu .menu_content a.icon_link{background-position:9px 7px;background-repeat:no-repeat;padding-left:26px}
.link_menu .menu_content a:hover,
.link_menu_list .menu_content ul li a.tab_link:hover{text-decoration:none;background-color:#899bc1;color:#fff}
.flyout_menu_left .flyout_menu_content_shadow{/* @noflip */ float:left}
.flyout_menu_left .flyout_menu_header .flyout_menu_mask{/* @noflip */ float:right}
.flyout_menu_18{margin-top:-4px;margin-left:-4px;width:173px}
.flyout_menu_18 .flyout_menu_header .flyout_menu_title{padding:5px 8px 3px 5px;height:16px;width:134px}
.flyout_menu_left .flyout_menu_header .flyout_menu_title{padding-left:8px;padding-right:5px}
.flyout_menu_18 .flyout_menu_header .flyout_menu_mask{width:18px;height:18px;border:3px solid white}
.flyout_menu_18 .menu_content{width:150px}
.dropdown_menu{position:absolute;right:0;width:150px;z-index:10;margin-top:-1px}
.dropdown_menu .menu_content{border:solid 1px #6076a5;background:white}
.dropdown_menu a{display:block;padding:3px 10px}
.dropdown_menu span.optgroup{color:gray;cursor:default;display:block;padding:8px 10px 4px 10px}
.dropdown_menu a:hover{background:#5c75aa;color:#fff;text-decoration:none}
.dropdown_menu .menu_separator{background:#ccc;clear:both;height:1px;margin:3px 6px;overflow:hidden}
.dropdown_menu .menu_section_title{color:gray;padding:2px 10px 5px 9px}
.dropdown_head .dropdown_link{padding:2px 5px;font-weight:normal}
.dropdown_head .dropdown_link:hover{text-decoration:none}
.dropdown_head .dropdown_link.selected{background:#5c75aa;color:#fff;border-top:1px solid #3b5998;border-left:1px solid #3b5998;border-right:1px solid #3b5998}
.dropdown_head .dropdown_link.selected span{background-position:-13px 0}
.dropdown_head .dropdown_arrow{margin:0;padding-left:3px;background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yQ/r/SEHmoF4wJuy.gif) top left no-repeat;width:12px;cursor:pointer;height:15px}
.double_arrow img{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/IJYgcESal33.png) no-repeat -5px -56px}
.double_arrow .active img{background-position:0 -56px}
.dropdown_head .active{background:#5c75aa;color:#fff}
.app_settings_tab{text-align:center;background:white}
.edit_app_dialog_summary{padding-bottom:0}
.edit_app_dialog_summary .tab_link{margin:3px 10px 0 0;padding:5px 8px;float:left}
.edit_app_settings .pop_content .dialog_summary{padding:4px 10px 0}
.edit_app_dialog_summary .tab_link_selected{color:#333;padding:4px 7px 5px;background:white;border:solid 1px #ccc;border-bottom:solid 1px white;margin-bottom:-1px;position:relative}
.app_settings_tab{padding:10px 10px}
.app_settings_tab .editor{margin-top:0;width:100%}
.app_settings_tab label{font-weight:normal;color:#333}
.app_settings_tab input.inputcheckbox,
.app_settings_tab input.inputradio{margin:0 5px 0 0;padding:0 0 0 0;vertical-align:top}
.app_settings_tab input.inputradio{height:13px;width:13px}
.app_feed_major_buttons{padding:0 0 5px}
.app_feed_major_button{text-align:left;color:#000;font-size: 11px;margin-bottom:6px}
.app_feed_minor_buttons{text-align:left;padding:2px 2px 2px 30px;overflow:hidden}
.app_feed_minor_buttons div{padding:0 0;margin-bottom:4px;overflow:hidden}
.app_feed_major_button label{font-weight:normal;display:inline-block;width:350px}
.the_fine_print{text-align:left;font-size: 9px;color:#666;display:block;padding:2px 2px 2px 2px}
#edit_app_settings_save_fill{padding:0 0 0 10px;text-align:center}
.app_settings_tab .extended_info_checkbox{padding-top:5px;display:block}
.app_settings_tab .extended_info_checkbox label{padding:2px 0;font-weight:normal;color:#000}
.app_settings_tab .extended_info_checkbox div.UIMessageBox.status{padding:5px;margin:5px 0}
.app_settings_tab .extended_info_checkbox div.UIMessageBox.status h2{font-weight:normal;font-size: 11px}
#app_settings_extended_tab{text-align:left;font-size: 11px;font-weight:bold;color:#666}
#app_settings_extended_tab .extended_prompt{padding-bottom:5px}
.app_settings_tab .row_label td{padding:0 0 5px}
.app_settings_tab .row_label .label{vertical-align:top;width:120px}
.app_settings_tab .feed_row_label td{padding:0 0 10px}
.app_settings_tab .feed_row_label .label{vertical-align:top}
.app_settings_tab .profile_tab_item{padding:0 5px 5px 10px;height:15px}
.app_settings_tab .profile_tab_item label{width:auto}
.app_settings_tab .profile_tab_privacy_item{padding:0 5px 5px 10px;width:250px}
.app_settings_tab .float_left{float:left}
.app_settings_tab .remove_app_permission_link{width:80px;float:right;text-align:left;padding:0 0 0 15px;background-repeat:no-repeat;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yU/r/iFjAdRBY_sL.gif)}
.app_settings_tab .add_app_permission_link{width:80px;float:right;text-align:left;padding:0 0 0 17px;background-repeat:no-repeat;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yj/r/TOsf-GemEZs.gif)}
.app_settings_app_icon{padding:0 10px 0 3px;vertical-align:bottom}
#app_settings_bookmark_tab{text-align:left}
.app_settings_tab img.throbber{visibility:hidden}
.app_settings_tab .async_saving img.throbber{visibility:visible}
.fbDummyComposerContent{position:relative;width:493px}
.fbDummyComposer .postText{left:7px;position:absolute;top:5px}
.fbDummyComposer .controls{position:absolute;right:5px;top:64px}
.fbDummyComposer .postButton{padding:2px 16px}
.placePageStats{margin:0 6px 5px;overflow:hidden}
.placePageStatsNumber{font-family:Helvetica,Arial,default;font-size: 18px;font-weight:bold}
.placePageHereNowContent{margin-top:10px;overflow:hidden}
.placeVisitorsFacepile{margin:2px 6px 14px 6px}
.privacyAppsIcons .app-row{width:300px;padding:4px}
.privacyAppsIcons .app-row:hover .app-last-used-date{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/tI3-tDFcdgh.gif) no-repeat left -2px}
.privacyAppsIcons .app-row:hover{background-color:#eff2f7}
.privacyAppsIcons .even{background-color:#f6f6f6}
.privacyAppsIcons .app-row-title{width:200px}
.privacyAppsIcons .app-row-title img{width:16px;height:16px;margin:0 5px 0 0}
.privacyAppsIcons .app-row-link{text-decoration:none}
.privacyAppsIcons .app-row-title .app-title{font-size: 11px}
.fbPrivacyAudienceRadioButton{border:1px solid #fff;border-radius:3px;display:block;margin:0 auto;padding-bottom:15px;text-align:center;min-width:90px;padding-left:10px;padding-right:10px;max-width:130px}
.fbPrivacyAudienceRadioDummy{width:90px;height:0}
.fbPrivacyAudienceRadioButton:hover{background-color:#f7f7f7;border:1px solid #f7f7f7}
.fbPrivacyAudienceRadioButton:active{background-color:#f2f2f2;border:1px solid #f2f2f2}
.fbPrivacyAudienceRadioButtonWrap{min-height:115px;min-width:112px}
.fbPrivacyAudienceRadioButtonGroup .audienceGrid{margin:0 auto}
.fbPrivacyAudienceRadioButtonGroup .selectedButton{background-color:#f7f7f7;border:1px solid #d6d6d6;-moz-box-shadow:inset 0 0 1px #dcdcdc;box-shadow:inset 0 0 1px #dcdcdc}
.fbPrivacyIndexPage{margin:0 auto}
.fbPrivacyIndexPage .narrowSection,.fbPrivacyIndexPage .fbPrivacyIndexPageHeader{width:622px;margin:0 auto 10px}
.fbPrivacyIndexPage .underage{width:592px;margin:0 auto 10px}
.fbPrivacyIndexPage .fbPrivacyIndexPageHeader{margin:6px auto 7px}
.fbPrivacyIndexPageHeader{color:#1c2a47;font-size: 16px;font-weight:bold;line-height:20px;min-height:20px;vertical-align:bottom}
.fbPrivacyIndexPageItem{margin-bottom:19px}
.fbPrivacyIndexPageItem .privacyLabel{width:450px}
.fbPrivacyIndexPageItem .itemControl{width:150px}
.fbPrivacyIndexPageSectionHeader{margin:18px 0 4px -24px}
.fbPrivacyIndexPageSectionHeader img{margin-top:3px}
.fbPrivacyIndexPage .dummyComposerContainer{position:relative}
.fbPrivacyIndexPage .dummyComposerOverlay{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/d8obU4nzJv5.png);height:138px;left:9px;position:absolute;top:-4px;width:597px;z-index:2}
.fbPrivacyIndexPage .fbDummyComposerContent{margin:0 auto}
.fbPrivacyPage{width:760px;margin:0 auto 40px}
.fbPrivacyPageHeader{line-height:20px;min-height:20px;padding-bottom:2px;vertical-align:bottom;padding:1px 0 18px}
.fbPrivacyPageHeader .breadcrumbArrow{margin:0 8px}
.fbPrivacyPageHeader,
.fbPrivacyPageHeader a{font-size: 16px;font-weight:bold;color:#1c2a47}
.fbPrivacyPage .bottomBorder{border-bottom:solid 1px #ccc}
#block_query,
#block_email_query{width:175px}
.blockListDataTable .uiList{margin-top:10px}
.blockListDataTable .uiList li span{margin-right:5px}
.blockListInvitesTypeahead{margin-right:150px}
.blockListApplications{margin:10px 0 0 140px}
.privacyPlan .privacyGrid td{width:230px}
.privacyLandingPage .UIImageBlock_ICON_Image{margin-top:2px}
.mainDescription{padding-right:80px}
.itemList .listDisclosure{width:550px}
.itemList .itemTitle{width:165px}
.itemList .itemContent{width:570px}
.itemList .itemContent label{font-weight:normal;color:#333}
.itemList .itemDescription{width:330px}
.itemList .itemControl{width:200px}
.itemHasCheckbox .itemControl{margin-top:2px}
.itemHasCheckbox label{position:relative;top:-1px}
.itemList .formButtons{padding-left:550px}
.privacyAppsIcons{margin-bottom:10px;margin-top:7px}
.privacyAppsIcons .img{height:32px;margin:3px 3px 0 0;vertical-align:bottom;width:32px}
.privacyAppsActionText{position:relative;padding-left:16px}
.privacyAppsActionText .img{position:absolute;left:0;top:50%;margin-top:-5px}
#SettingsPage_Content .seeAndControlActionText .img{margin-top:-10px}
.privacyAppsItemOptOut input{float:left}
.privacyAppsItemOptOut .section{float:left;width:460px;margin-left:2px}
.privacySearch .section{width:300px}
.privacyPlan .privacyPlanDescription{line-height:1.4em;width:620px}
.privacyPlanDirectoryControl{text-align:right}
.privacyBlockItemTitle{width:160px}
.privacyBlockItemContent{width:560px}
#app-settings-page{width:760px;margin:0 auto 40px}
.fbAppSettingsPageHeader,
.fbAppSettingsPageHeader a{font-size: 16px;font-weight:bold;color:#1c2a47;padding:1px 0 18px}
#app-settings-page .breadcrumbArrow{margin:0 8px}
.fbApplicationsList .fbsettingslistitemedit{padding-left:25px;float:right}
.fbApplicationsList .fbsettingslistlink{float:left;width:730px}
.fbApplicationsList .UI_ClosedArrow{padding-top:10px}
.fbApplicationsList .UI_OpenArrow{padding-right:5px;float:left}
.fbApplicationsList .app-permissions-box-header{overflow:hidden;padding-bottom:12px}
.fbApplicationsList a.fbsettingslistlink:hover{text-decoration:none}
.fbApplicationsList a.fbsettingslistlink:hover .fbsettingslistitemedit{text-decoration:underline}
.fbApplicationsList .fbSettingsListItemHasContent:hover{background-color:#eff2f7}
.fbApplicationsList .fbSettingsListSectionName{float:left;width:160px}
.fbApplicationsList .fbSettingsListSectionContent{float:right;width:580px}
.fbApplicationsList .appInfoCollapsedRow .fbSettingsListItemLabel{color:#000}
.fbApplicationsList .fbSettingsListItemLabel{float:left;width:200px;margin-right:10px}
.fbApplicationsList .fbSettingsListItemLabel .uiIconText{display:inline-block}
.fbApplicationsList .openPanel .fbSettingsListItemLabel{width:215px}
.fbApplicationsList .fbSettingsListCollapseLink{float:right;padding-left:25px;text-align:right}
.fbApplicationsList .fbSettingsListItemContent{display:block;width:400px;float:left}
.fbApplicationsList .fbApplicationsListItem{border-color:#e9e9e9}
.fbApplicationsList .app-access-editor-box{padding:12px 5px;border-bottom:1px}
.fbApplicationsList .fbApplicationsListItem:hover .fbsettingslistitemedit{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/tI3-tDFcdgh.gif) no-repeat 4px -2px}
.fbApplicationsList .appInfoCollapsedRow .fbsettingslistlink{padding:12px 0}
.fbApplicationsList .appInfoCollapsedRow
.async_saving .fbsettingslistitemedit{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yb/r/GsNJNwuI-UM.gif) no-repeat 0 1px}
.fbApplicationsList .content{display:none}
.fbApplicationsList .fbSettingsListItemDelete{float:right;margin:14px 5px 0}
.fbApplicationsList .openPanel .appInfoCollapsedRow{display:none}
.fbApplicationsList .openPanel .content{display:block}
.fbSettingsEditorLabel{position:absolute;width:155px}
.show_label .fbSettingsEditorFields{margin-left:175px}
.fbSettingsEditorFields .saveThrobber{vertical-align:middle}
.fbSettingsEditorFields{width:400px}
.fbSettingsEditorFields .label{min-width:100px}
.wide_editor .fbSettingsEditorFields{width:550px}
.fbSettingsEditorFields .extended_field{margin-right:-140px}
.fbSettingsEditorFields .spacer hr{background-color:#ccc}
.fbSettingsError div{margin-left:159px}
.fbSettingsErrorLabel{color:#c66}
.fbSettingsNotifEmailLink{display:block;line-height:0;height:16px}
.fbSettingsNotifEmailLink .uiLoadingIndicatorAsync{padding-top:2px}
.async_saving .fbSettingsEmailLinkIcon{display:none}
.fbSettingsEmailMasterControlPanel{padding-left:8px;width:260px}
.fbSettingsEmailMasterControlInputLabel{padding-top:8px}
.fbSettingsList a.fbSettingsListLink{background:transparent;display:block;text-decoration:none}
.fbSettingsList a.fbSettingsListLink:hover{background:#f7f7f7;text-decoration:none}
.fbSettingsList .fbSettingsListItemLabel{color:#333;float:left;width:160px}
.fbSettingsList .fbSettingsListItemEdited{background-color:#fff8bb}
.fbSettingsList .fbSettingsListItemContent{display:block;margin-left:170px;width:450px}
.fbSettingsList .fbSettingsListItemSaved,.fbSettingsList .fbSettingsListItemEdit{color:#3b5998;float:right;padding-left:25px;padding-right:5px;text-align:right}
.fbSettingsList .fbSettingsListItemSaved{color:#777}
.fbSettingsList a:hover .fbSettingsListItemEdit{text-decoration:underline}
.fbSettingsList a:hover .fbSettingsListItemEdit .img{visibility:visible}
.fbSettingsList .fbSettingsListItemEdit .img,.fbSettingsList a.async_saving .fbSettingsListItemEdit .img{visibility:hidden}
.fbSettingsList a.async_saving .fbSettingsListItemEdit{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yb/r/GsNJNwuI-UM.gif);background-repeat:no-repeat;background-position:0 2px}
.fbSettingsList .content{display:none}
.fbSettingsList .fbSettingsListItemDelete{float:right;margin:12px 8px 0}
.fbSettingsMobileRegisterForm{width:275px}
.fbSettingsNotifs span.fbSettingsListItemLabel{width:300px}
.fbSettingsNotifCount{display:inline-block;margin-right:10px;width:35px}
.SettingsPage .UIFullPage_Container{width:770px}
#SettingsPage_Content{min-height:300px;margin-bottom:20px}
ul.SettingsPage_PrivacySections .privacy_section_title{color:#3b5998;font-weight:bold}
ul.SettingsPage_PrivacySections a.privacy_section_link{color:gray;font-size: 13px}
ul.SettingsPage_PrivacySections a.privacy_section_link:hover{text-decoration:none}
ul.SettingsPage_PrivacySections a.privacy_section_link:hover .privacy_section_title{text-decoration:underline}
.privacy_content{border-top:1px solid #b3b3b3}
.privacy_content a.privacy_icon_link{height:32px;width:32px}
.privacy_section h3{border-bottom:1px solid #c0c0c0;padding:4px 5px 6px}
.edit_mode_widget{font-size: 13px;background-color:#eceff5;border:1px solid #d8dfea;line-height:20px;margin:10px 6px;padding:6px 6px 6px 10px}
.edit_mode_widget label.uiButton{height:16px;line-height:16px}
.edit_mode_widget img.privacy_icon{margin-top:2px}
.password_dialog_fieldset{margin:15px 0 5px;text-align:center}
.privacy_section{width:100%;border-spacing:0;border-collapse:collapse}
.privacy_section_row{border-bottom:1px solid #dadada}
.privacy_section_row:last-child{border-bottom:0}
.privacy_section_row td{padding:10px 10px;vertical-align:middle}
.privacy_section_row_highlight{background:#e2e2e2}
.privacy_section_row input{float:left}
.privacy_section_label{font-weight:bold;font-size: 13px;color:#333;line-height:20px}
.privacy_section_description{color:#828282}
td.privacy_section_widget{width:250px;vertical-align:middle}
tr.privacy_section_row .uiButton{margin:0}
.privacy_checkbox_loader{float:left;height:16px;margin-right:7px;width:16px}
.privacy_checkbox_loader img{vertical-align:bottom}
.privacy_checkbox_loader .show_loading{display:none}
.privacy_checkbox_loader.showLoading .hide_loading{display:none}
.privacy_checkbox_loader.showLoading .show_loading{display:inline}
td.privacy_section_checkbox{height:auto;!important
height:45px;min-height:45px;vertical-align:middle;line-height:16px}
.block_list_form ul.block_list{margin:6px 0 15px;padding:0 5px;list-style:inside square}
.privacy_interstitial{padding-top:40px;border-top:1px solid #d6d9de}
.privacy_viewas_table{color:#777;font-weight:bold}
#SettingsPage_Content .indented_content{padding:25px 0 0 110px}
#SettingsPage_Content .indented_content p{width:500px}
#SettingsPage_Content .indented_content .bluebar p{width:auto}
.applications_privacy_content .applications_settings_list{margin:0;padding:0 0 0 100px;line-height:16px}
.applications_privacy_content li#platform_submit{padding-top:5px}
.applications_privacy_content .applications_settings_list .inputcheckbox{margin-right:5px}
.applications_privacy_content .blocked_list{list-style:square inside;padding:0 0 0 100px}
.applications_privacy_content .blocked_list input.as_link{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 11px;overflow:visible;width:auto;text-align:left;background:none;margin:0;padding:0 0 0 10px;border:none;cursor:pointer;color:#3b5998;-moz-user-select:text;line-height:14px}
.applications_privacy_content .blocked_list input.as_link::-moz-focus-inner{border:0;padding:0}
.instant_personalization_content .bluebar{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yZ/r/sMqH6Qj9x1V.png) no-repeat;height:130px;padding-left:335px}
.instant_personalization_content{padding:25px}
.instant_personalization_content
.instant_personalization_title{width:500px}
.instant_personalization_content .instant_personalization_checkbox_container{margin-top:20px}
.instant_personalization_content
.instant_personalization_label{float:left;width:479px}
.instant_personalization_content
.instant_personalization_friends{color:gray;font-size: 9px;padding-top:6px}
.fbSettingsSectionsItemName{width:160px}
.fbSettingsSectionsItemContent{width:580px}
.fbSettingsSections .subscriberCheckbox{width:450px}
.SettingsPage #headerArea{padding-bottom:0}
.fbSettingsList .openPanel .fbSettingsListLink,
.fbSettingsList .openPanel .fbSettingsListItemDelete{display:none}
.fbSettingsList .openPanel .content{display:block}
.fbSettingsList{border-bottom:1px solid #e9e9e9}
.fbSettingsCheckboxText{vertical-align:middle}
.sp_3fkoin{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yC/r/XLw28Tg8yzh.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_fdf22f{width:32px;height:32px;background-position:-0px -0px}
.sx_4b6853{height:18px;background-position:-0px -33px}
.sx_2694b3{background-position:-0px -52px}
.sx_c7ee51{background-position:-0px -69px}
.sx_bf9fd1{background-position:-0px -86px}
.sp_4ffndm{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yp/r/OL9ly1dK8hy.png);background-repeat:no-repeat;display:inline-block;height:9px;width:7px}
.sx_24d3d1{background-position:-0px -36px}
.sx_4c303f{width:11px;height:11px;background-position:-0px -13px}
.sx_b3a689{width:12px;height:12px;background-position:-0px -0px}
.sx_49349e{width:10px;height:10px;background-position:-0px -25px}
.sp_8ou4yi{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yJ/r/_2H5MXCGPGi.png);background-repeat:no-repeat;display:inline-block;height:28px;width:28px}
.sx_00d962{background-position:-0px -120px}
.sx_68ec6d{background-position:-29px -120px}
.sx_f43269{width:35px;height:27px;background-position:-42px -92px}
.sx_76dc7f{width:41px;height:27px;background-position:-0px -92px}
.sx_109f58{width:15px;height:16px;background-position:-78px -92px}
.sx_98b968{width:493px;height:91px;background-position:-0px -0px}
.UIActionButtonIcon i.img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yY/r/zR5rPVu7Dbe.png);display:inline-block;height:13px;margin:0;width:8px}
.UIToolbarWell_Content{overflow:hidden;padding:0 6px}
.UIToolbarWell_MainContent{height:23px;padding:6px 0}
.UIToolbarWell_Left{text-align:left;float:left}
.UIToolbarWell_Right{float:right;text-align:right}
.UIToolbarWell_Left .UIToolbarWell_Button .uiButton{margin-right:6px}
.UIToolbarWell_SecondaryContent{border-top:1px solid #d7d7d7;padding:5px 0}

#bootloader__4HRk { height: 42px; }