/*1325568617,169775811*/

.interaction_form div.dialog_content{border-width:0}
.interaction_dialog_body{border-bottom:1px solid #ccc}
.interaction_form_body{padding:0;border-bottom:none}
.interaction_form .underline{border-bottom:1px solid #edeff5;margin:0 10px}
.interaction_form .minifeedwall .story{margin-top:0;margin-bottom:0}
.interim_status{padding:15px 10px}
.interaction_form .story_preview_nile{padding:10px 3px 6px 20px}
.interaction_form .link_placeholder{color:#3b5998;display:inline;padding:0}
.interaction_form .title .link_placeholder{font-weight:bold}
.interaction_form .not_me_link{float:right;padding:2px 10px}
.interaction_form .feed_dialog_disclaimer{padding:0 0 10px 10px;color:gray;font-size: 9px}
.interaction_form .dialog_buttons{padding:10px;zoom:1}
.interaction_form .connect_privacy_widget{display:inline-block}
.interaction_form .dialog_buttons_msg{float:left;width:340px;text-align:left;padding-top:3px}
.send_dialog .interaction_form .UIIntentionalStory_Pic,
.send_dialog .interaction_form .UIIntentionalStory_Header{display:none}
.send_dialog .interaction_form .UIIntentionalStory{padding-left:65px}
.send_dialog .uiInfoTable{width:495px}
.send_dialog .uiInfoTable .label{width:40px}
.send_dialog .uiInfoTable textarea{width:425px}
.fbChatEventMsg{border-top:1px solid #eee;position:relative}
.fbChatEventMsg .eventIcon{margin-top:1px;height:16px;width:16px}
.fbChatEventMsg .addActionIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-145px -64px}
.fbChatEventMsg .leaveActionIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-128px -64px}
.fbChatEventMsg .videoCallIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-111px -64px}
.fbChatEventMsg .editNameIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-315px -136px}
.fbChatEventMsg .changePictureIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-162px -64px}
.fbChatEventMsg .songIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-17px -49px;height:12px}
.fbChatEventMsg .playErrorIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:0 -49px;height:12px}
.fbChatEventMsg .iconWrapper{float:left;text-align:right;width:32px}
.fbChatEventMsg .messageWrapper{margin-left:40px}
.fbDockChatTab .fbChatEventMsg .timestamp{background-color:#fff;position:absolute;right:0;top:-6px;visibility:hidden}
.fbDockChatTab .fbChatEventMsg:hover .timestamp{visibility:visible}
.fbChatConvItem .metaInfoContainer{visibility:hidden}
.fbChatConvItem:hover .metaInfoContainer{visibility:visible}
.fbChatMessageGroup{border-top:1px solid #eee;position:relative}
.fbChatMessageGroup .profileLink{float:left}
.fbChatMessageGroup .profileLink .profilePhoto{display:block;height:32px;width:32px}
.fbChatMessageGroup .messages{margin-left:40px}
.fbChatMessage{margin-bottom:3px;white-space:pre-wrap;word-wrap:break-word}
.fbChatMessage.cyphertext{color:#999;font-size: 9px;line-height:11px}
.fbChatMessage.errorStatus{color:#999}
.fbChatMessage .attachment{margin-top:3px}
.fbChatMessage .more{display:inline-block}
.fbChatMessageSubject{margin-bottom:3px;white-space:pre-wrap;word-wrap:break-word}
.fbChatOrderedList .item,.fbChatOrderedList .separator{float:left;width:100%}
.fbChatOrderedList .item a{color:#333;display:block;padding:2px 20px 2px 10px;position:relative}
.fbChatOrderedList .item a:hover,.fbChatOrderedList .item a.selected{background-color:#e0e4ee;text-decoration:none}
.fbChatOrderedList .item a .pic{float:left;height:28px;margin-right:8px;width:28px}
.fbChatOrderedList .item a .name{display:block;line-height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbChatOrderedList .item .status{display:block;height:14px;margin-top:-7px;position:absolute;right:9px;top:50%;width:7px}
.fbChatOrderedList .lb_status{display:none}
.fbChatOrderedList .item.active .status{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-493px -64px}
.fbChatOrderedList .item.mobile .status{height:12px;width:8px;margin-top:-6px;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-489px -94px}
.fbChatOrderedList .item.invis{opacity:.3}
.fbChatOrderedList .separator{display:table;height:32px;-moz-user-select:none;-moz-user-select:-moz-none}
.fbChatOrderedList .separator .outer{display:table-cell;vertical-align:middle}
.fbChatOrderedList .separator .outer .inner{cursor:pointer;position:relative;text-align:center;top:-50%;z-index:1}
.fbChatOrderedList .separator .text{background-color:#fff;color:#989db3;display:inline-block;padding:0 5px;font-size: 9px;font-weight:bold;text-transform:uppercase}
.fbChatOrderedList .separator .dive{left:0;position:absolute;top:50%;width:100%;z-index:-1}
.fbChatOrderedList .separator .dive .bar{border-bottom:2px solid #ccd0da;display:block;margin:0 5px}
div.fbChatSidebarDropdown .uiCloseButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-27px -64px;border:0;height:24px;width:26px}
div.fbChatSidebarDropdown .uiCloseButton:hover{background-color:#fff}
div.fbChatSidebarDropdown .openToggler .uiCloseButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:0 -64px;border:0 !important;border-left:1px solid #3b5998 !important;border-right:1px solid #3b5998 !important;margin:0 -1px}
div.fbChatSidebarDropdown .openToggler .uiSelectorMenuWrapper{margin-right:-1px}
.fbChatSidebarDropdown .uiMenuItem .itemLabel{white-space:normal;width:110px}
.fbChatSidebarDropdown .uiMenu .disabled{display:none}
.fbChatSidebarDropdown .uiMenu .checked .itemAnchor{font-weight:normal}
.offline .fbChatGoOnlineItem,.fbChatGoOfflineItem{display:block}
.offline .fbChatGoOfflineItem,.fbChatGoOnlineItem{display:none}
.fbSidebarGripper{border-bottom:1px solid #e9eaee;border-top:1px solid #cad0db;cursor:ns-resize;width:100%}
.fbSidebarGripper div{background:#e7e9ef;border-bottom:1px solid #c1c9d5;border-top:1px solid #f0f1f6;height:4px;position:relative}
.fbSidebarGripper div span{background:#f0f1f6;border-top:1px solid #cad0db;display:block;height:1px;left:50%;margin-left:-6px;margin-top:1px;position:absolute;width:12px}
.fbChatSidebar .fbChatTypeaheadView{bottom:0;position:absolute;top:auto;width:100%}
.fbChatTab .name{white-space:nowrap}
.fbChatTab .name a,
.fbChatTab .name a:hover{color:#333;text-decoration:none}
.highlight .fbChatTab .name a,
.highlight .fbChatTab .name a:hover{color:#fff}
a .fbChatTab .funhouse{left:-9999px;position:absolute}
a:hover .fbChatTab .funhouse{left:auto;position:static}
.highlight.active .fbChatUserTab .wrap{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:left -201px}
.active .fbChatUserTab .wrap{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:left -231px;padding-left:12px}
.typing .fbChatUserTab .wrapWrapper{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:right -48px;padding-right:15px}
.fbDockChatBuddyListNub{height:25px;width:180px}
.presence_error .fbDockChatBuddyListNub{display:none}
.fbDockChatBuddyListNub.openToggler{z-index:99}
.fbDockChatBuddyListNub.openToggler .fbNubButton{display:none}
.fbDockChatBuddyListNub .fbNubButton .icon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-69px -27px;float:left;height:10px;margin:3px 4px 0 0;width:16px}
.offline .fbDockChatBuddyListNub .fbNubButton .icon,.offline.error .fbDockChatBuddyListNub .fbNubButton .icon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-35px -27px;height:10px;margin:3px 4px 0 0;width:16px}
.error .fbDockChatBuddyListNub .fbNubButton .icon{margin-top:1px;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-351px -120px;height:13px;width:14px}
.fbDockChatBuddyListNub .fbNubButton .label{display:block;line-height:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbDockChatBuddyListNub .fbNubButton .label .count{color:#777}
.fbDockChatBuddyListNub .fbNubButton .label .count strong{color:#333}
.fbDockChatBuddyListNub .fbNubFlyout{bottom:0;min-height:280px;width:100%}
.fbDockChatBuddyListNub .fbNubFlyoutInner{border-bottom:0}
.fbDockChatBuddyListNub .fbNubFlyoutTitlebar .titlebarLabel{padding:0}
.fbDockChatBuddyListNub .fbNubFlyoutTitlebar .titlebarTextWrapper{margin:3px 3px 3px 5px}
.fbDockChatBuddyListNub .fbChatOrderedList,.fbDockChatBuddyListNub .fbChatTypeaheadView{padding:5px 0}
.fbDockChatBuddyListNub .fbChatTypeahead,.fbDockChatBuddyListNub .fbChatTypeahead .wrap{border-style:none}
.fbDockChatBuddyListNub .fbChatTypeahead{border-top:1px solid #dadfea}
.fbDockChatBuddyListNub .fbChatTypeahead input{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:0 -2px;height:17px}
.ff4 .fbDockChatBuddyListNub .fbChatTypeahead input{margin-bottom:1px}
.fbDockChatBuddyListNub div.fbChatSidebarDropdown .uiCloseButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-397px -94px;border:0 !important;box-shadow:none;height:24px;width:22px}
.fbDockChatBuddyListNub div.fbChatSidebarDropdown .uiCloseButton:active,.fbDockChatBuddyListNub div.fbChatSidebarDropdown .uiCloseButton:focus,.fbDockChatBuddyListNub div.fbChatSidebarDropdown .uiCloseButton:hover,.fbDockChatBuddyListNub div.fbChatSidebarDropdown .openToggler .uiCloseButton,.fbDockChatBuddyListNub div.fbChatSidebarDropdown .openToggler .uiCloseButton:active,.fbDockChatBuddyListNub div.fbChatSidebarDropdown .openToggler .uiCloseButton:focus,.fbDockChatBuddyListNub div.fbChatSidebarDropdown .openToggler .uiCloseButton:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-420px -94px;background-color:#4a66a0;margin:0}
.fbDockChatBuddyListNub .fbDockChatBuddyListNubMessage{background-color:#fff;border-top:1px solid #ccd0db;display:none;padding:6px}
.error .fbDockChatBuddyListNub .fbDockChatBuddyListNubMessage{display:block}
.error .fbDockChatBuddyListNub .fbDockChatBuddyListNubMessage .img{float:left;margin-top:7px;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-351px -120px;height:13px;width:14px}
.fbDockChatBuddyListNub .fbDockChatBuddyListNubMessage .message{margin-left:24px}
.show_on_presence_error,
.presence_error .hide_on_presence_error{display:none}
.presence_error .show_on_presence_error{display:block}
.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .button{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-397px -94px;width:22px}
.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .button:active,.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .button:focus,.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .button:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-420px -94px}
.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .button:active,.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .openToggler .button,.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .openToggler .button:active,.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .openToggler .button:focus
.fbNub .fbNubFlyoutTitlebar .fbDockChatDropdown .openToggler .button:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-420px -94px;background-color:#4a66a0;border:0}
.fbDockChatTab{height:25px;width:160px}
#fbDockChatTabs .fbDockChatTab.openToggler{width:260px}
.fbDockChatTab.highlight .fbNubButton{background-color:#6d84b4;border-color:#3a5997;box-shadow:inset 0 1px rgba(255, 255, 255, .1);color:#fff}
.fbDockChatTab.highlight:hover .fbNubButton{background-color:#627bae}
.fbDockChatTab.openToggler .fbNubButton{display:none}
.fbDockChatTab .fbChatTab{margin-left:2px}
.fbDockChatTab .fbChatTab .name{line-height:15px;overflow:hidden;text-overflow:ellipsis}
.fbDockChatTab .numMessages{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-93px -64px;color:#fff;font-size: 9px;font-weight:bold;height:16px;padding-top:1px;position:absolute;right:12px;text-align:center;top:-8px;width:17px}
.fbDockChatTab .fbDockChatTabFlyout{bottom:0;height:285px;width:100%}
.fbDockChatTab .fbNubFlyoutInner{border-bottom:0}
.fbDockChatTab .fbNubFlyoutHeader{position:relative}
.fbDockChatTab .sheetContainer{position:absolute;top:100%}
.fbDockChatTab.sheetSlide .sheetContainer{overflow:hidden}
.fbDockChatTab .sheetContainer .sheet{background-clip:padding-box;background-color:#f2f2f2;border-bottom:1px solid rgba(0, 0, 0, .1);position:relative;z-index:1}
.fbDockChatTab .sheetContainer .sheet .UIImageBlock_Content{width:212px}
.fbDockChatTab.sheetSlide .sheetContainer .sheet{bottom:100%}
.fbDockChatTab.active .sheet_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-52px -27px;height:10px;margin-top:4px;width:16px}
.fbDockChatTab.mobile .sheet_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-179px -64px;height:15px;margin:3px 3px 0 0;width:11px}
.fbDockChatTab.mobile .sheet_img_msgr{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-81px -64px;height:19px;margin:0 7px 0 0;width:11px}
.fbDockChatTab.blocked .sheet_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:0 -59px;height:15px;margin:1px 3px 0 0;width:13px}
.fbDockChatTab.chatOffline .sheet_img{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-35px -27px;height:10px;margin-top:4px;width:16px}
.fbDockChatTab.active .sheet_img_video{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-111px -64px;height:10px;margin-top:4px;width:16px}
.no-titan .fbDockChatTab.disabled .fbNubFlyoutBody{background-color:#f7f7f7}
.fbDockChatTab .fbNubFlyoutBodyContent,.fbDockChatTab .conversationContainer{height:100%;width:100%}
.fbDockChatTab .conversationContainer .conversation{padding-top:3px}
.fbDockChatTab .conversationContainer .fbChatMessage{max-width:193px}
.fbDockChatTab .fbNubFlyoutFooter{position:relative}
.fbDockChatTab .typingIndicator{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:left -101px;margin-left:28px;padding:0 8px 5px 17px;visibility:hidden;-moz-user-select:none;-moz-user-select:-moz-none}
.fbDockChatTab.typing .typingIndicator{visibility:visible}
.fbDockChatTab .inputContainer{position:relative}
.fbDockChatTab .input{border:0;border-top:1px solid #c9d0da;display:block;height:0;margin:0;max-height:77px;min-height:16px;outline:none;overflow:auto;overflow-x:hidden;padding:5px 4px 3px 20px;resize:none;width:234px}
.no-titan .fbDockChatTab.disabled .input{background-color:#e4e4e4;color:#888}
.fbDockChatTab .inputIcon{left:4px;position:absolute;top:5px}
.fbDockChatTab.mobile .inputIcon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-489px -107px;height:12px;width:8px;margin-top:2px;left:7px}
.fbDockChatTab .funhouse .close{vertical-align:top}
.fbDockChatTab .funhouse{margin-top:1px}
.fbDockChatTab.openToggler .funhouse{display:block;margin-left:5px}
.fbDockChatTab .titlebar .titlebarLabel{padding:0}
.fbDockChatTab .titlebar .titlebarLink{float:left;color:#fff;padding:3px 7px 4px}
.fbDockChatTab .titlebar .titlebarTextWrapper{margin:3px 7px 4px}
.fbDockChatTab .titlebar .titlebarLink .titlebarTextWrapper{margin:0}
.fbDockChatTab .titlebar .titlebarText{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbDockChatTab .titlebar .button{display:inline-block;height:25px;margin-right:-1px;vertical-align:top}
.fbDockChatTab .titlebar .close{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-271px -136px;margin-right:3px;width:21px}
.fbDockChatTab .titlebar .close:active,.fbDockChatTab .titlebar .close:focus,.fbDockChatTab .titlebar .close:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-293px -136px}
.fbDockChatTab .fbChatMessageGroup .metaInfoContainer{background-color:#fff;position:absolute;right:0;top:-6px}
.no-titan .fbDockChatTab.disabled .fbChatMessageGroup .metaInfoContainer{background-color:#f7f7f7}
.fbDockChatTab.thread .titlebarText{max-width:172px}
.fbDockChatTab.thread .titlebar .addToThread{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-443px -94px;width:22px}
.fbDockChatTab.thread .titlebar .addToThread:active,.fbDockChatTab.thread .titlebar .addToThread:focus,.fbDockChatTab.thread .titlebar .addToThread:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-466px -94px}
.fbDockChatTab.typing .fbChatUserTab .wrapWrapper{float:left;max-width:133px}
.fbDockChatTab.typing .fbNubButton:hover .fbChatUserTab .wrapWrapper{max-width:113px}
.fbDockChatTab.user.active .titlebarTextWrapper{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:left -200px;padding-left:11px}
.fbDockChatTab.user .titlebar .videoicon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-351px -94px;display:none;width:22px}
.fbDockChatTab.user .titlebar .videoicon:active,.fbDockChatTab.user .titlebar .videoicon:focus,.fbDockChatTab.user .titlebar .videoicon:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-374px -94px}
.videoCallEnabled .fbDockChatTab.user .titlebar .videoicon{display:inline-block}
.videoCallEnabled .fbDockChatTab.user.disabled .titlebar .videoicon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-351px -94px;cursor:default}
.fbDockChatTab .callBackLink{white-space:nowrap}
.fbDockChatTab.disabled .callBackLink{display:none}
#fbDockChatTabSlider .arrow{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-98px -27px;width:4px;height:8px;margin:4px 2px 0 0;float:left}
#fbDockChatTabSlider .previous .arrow{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-108px -27px}
#fbDockChatTabSlider .next.disabled .arrow{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-103px -27px}
#fbDockChatTabSlider .previous.disabled .arrow{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/CMO8wGPyJ_4.png);background-repeat:no-repeat;background-position:-113px -27px}
.no-titan #fbDockChatTabSlider .disabled a.fbNubButton:hover{background-color:#d8d8d8}
#fbDockChatTabSlider .numTabs{margin:1px 5px;float:left}
.no-titan #fbDockChatTabSlider .disabled .numTabs{color:#999}
#fbDockChatTabs{min-height:1px;position:static}
#fbDockChatTabsWrapper{height:25px}
#fbDockChatTabSlider .numMessages{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-93px -64px;color:#fff;font-size: 9px;font-weight:bold;height:16px;padding-top:1px;position:absolute;text-align:center;top:-8px;width:17px}
#fbDockChatTabSlider .next .numMessages{right:2px}
#fbDockChatTabSlider .previous .numMessages{right:6px}
.fbNub,.fbNubGroup{float:left;position:relative}
.fbNub{box-shadow:0 1px 1px rgba(0, 0, 0, .3)}
.fbNub.openToggler{box-shadow:none}
.lNubContainer .fbNub{margin-right:4px}
.rNubContainer .fbNub{margin-left:4px}
.fbNubButton{background:#ebeef4;border:1px solid rgba(29, 49, 91, .3);border-bottom:0;box-shadow:inset 0 1px rgba(255, 255, 255, .5);color:#333;display:block;height:16px;font-weight:bold;padding:4px 5px;position:relative;z-index:1}
.fbNubButton,.fbNubFlyoutTitlebar,.fbNub .noTitlebar{border-top-left-radius:1px 1px;border-top-right-radius:1px 1px}
.fbNubButton:hover{background:#f5f7fa;text-decoration:none}
.openToggler .fbNubButton{background:#fff;border-radius:0;border-top:0;box-shadow:0 1px 1px rgba(0, 0, 0, .3);padding:5px}
.fbNubFlyout{bottom:25px;box-shadow:0 1px 1px rgba(0, 0, 0, .3);position:absolute}
.fbNub.maxHeight .fbNubFlyoutOuter{height:9999px}
.fbNub .noTitlebar{border-top:1px solid rgba(0, 0, 0, .3)}
.lNubContainer .fbNubFlyout,.rNubContainer .fbNub .swapDirection{left:0;right:auto}
.rNubContainer .fbNubFlyout,.lNubContainer .fbNub .swapDirection{left:auto;right:0}
.fbNubFlyoutInner{border-bottom:1px solid rgba(0, 0, 0, .3)}
.fbNubFlyoutTitlebar,.menuOpened .fbNubFlyoutTitlebar,.menuOpened .fbNubFlyoutTitlebar:hover{background-color:#6d84b4;border:1px solid rgba(0, 39, 121, .76);border-bottom:none;border-top-left-radius:1px 1px;border-top-right-radius:1px 1px;cursor:pointer}
.fbNubFlyoutTitlebar:hover{background-color:#627bae}
.menuOpened .fbNubFlyoutTitlebar,.menuOpened .fbNubFlyoutTitlebar:hover{box-shadow:none}
.fbNubFlyoutTitlebar .titlebarLabel{color:#fff;font-weight:bold;line-height:18px;padding:3px 7px 4px}
.fbNubFlyoutHeader,.fbNubFlyoutBody,.fbNubFlyoutFooter{background-color:#fff;border:1px solid rgba(0, 0, 0, .3);border-width:0 1px}
.fbNubFlyoutBody{overflow-x:hidden;overflow-y:auto;position:relative}
.fbNubButton,.fbNubButton:hover,.openToggler .fbNubButton,.fbNubFlyout,.fbNubFlyout .flyoutInner,.fbNubFlyoutTitlebar,.fbNubFlyoutHeader,.fbNubFlyoutBody,.fbNubFlyoutFooter{background-clip:padding-box}
.fbNub .fbNubButton .UIImageBlock_Content{float:left;width:auto}
.fbNub .fbNubButton .spritemap_icons{display:block}
.fbDockWrapper{bottom:0;direction:ltr;height:25px;left:0;position:fixed;right:0;z-index:300}
.fbDockWrapperLeft{right:auto}
.fbDockWrapperRight{left:auto}
.fbDock{margin:0 15px}
.fbDock .lNubContainer{float:left}
.fbDock .rNubContainer{float:right}
.emote_text{display:none}
.emote_img,.emote_custom{height:16px;vertical-align:top;width:16px}
.emote_img{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yM/r/WlL6q4xDPOA.png) no-repeat;overflow:hidden}
.liquid #pageHead,.liquid div#globalContainer{margin:0;min-width:980px;padding-left:10px;padding-right:10px;width:auto !important}
.sidebarMode .liquid #blueBar #pageHead{margin:0 90px}
.liquid #minWidthOuter{zoom:1}
body.liquid div#contentArea{display:table-cell;float:none;width:10000px !important;zoom:1}
.liquid #contentArea:after,.liquid #contentArea::after{clear:both;content:" F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W !";display:block;font-size: 25px;height:0 !important;line-height:0;visibility:hidden}
.liquid #pageFooter{zoom:1}
.sidebarMode.ticker .fbDockWrapper{right:205px}
.sidebarMode.ticker.theaterMode .fbDockWrapper{right:220px}
.sidebarMode.ticker .tickerStoryBlock .UIImageBlock_Content{max-width:159px}
.sidebarMode.ticker .fbChatSidebar,
.sidebarMode.ticker .fbChatSidebar .uiScrollableAreaBody{width:205px !important}
.sidebarMode.ticker .fbChatSidebar .tickerHeader{display:none}
.sidebarMode.ticker .fbChatSidebar .ticker_container{border:0 !important;height:100% !important;width:205px !important}
.sidebarMode.ticker .fbChatSidebar .scrollTopPrompt{width:205px !important}
.sidebarMode.ticker .fbChatSidebar .fbFeedTicker{height:100% !important}
.sidebarMode.ticker .fbChatSidebar .uiSideHeader{background-color:#d8dfea !important;border-bottom:1px solid #ccd4e2 !important;border-top:0 !important;margin-bottom:0}
.sidebarMode.ticker .fbChatSidebar .tickerStoryBlock{margin-left:0 !important}
.sidebarMode.ticker .fbChatSidebar .fbFeedTicker .fbFeedTickerStory{background-color:#f2f4f8;border-bottom-color:#f2f4f8;border-top-color:#d8dfea;line-height:13px;padding-right:5px}
.sidebarMode.ticker .fbChatSidebar .fbFeedTicker .tickerStoryHidden,
.sidebarMode.ticker .fbChatSidebar .fbFeedTicker .tickerStoryHidden:hover{background-color:#f2f4f8 !important;border-bottom-color:#f2f4f8 !important;border-top-color:#d8dfea !important}
.sidebarMode.ticker .fbChatSidebar .fbChatOrderedList .item a,
.sidebarMode.ticker .fbChatSidebar .fbChatTypeaheadView li{padding-left:2px !important}
.sidebarMode.ticker .fbChatSidebar #pagelet_ticker{height:50%;overflow:hidden;position:relative}
.sidebarMode.ticker .fbChatSidebar .uiProfilePhoto,
.sidebarMode.ticker .fbChatSidebar .fbChatOrderedList .item .pic,
.sidebarMode.ticker .fbChatSidebar .fbChatTypeaheadView li img{height:28px !important;width:28px !important;margin-left:3px !important}
.sidebarMode.ticker .fbChatSidebar .fbFeedTicker .tickerStorySelected{background-position:11px 15px}
.sidebarMode.ticker .fbChatSidebar .fbFeedTicker .fbFeedTickerStory.tickerNuxStory{background-color:#fff;border-bottom:1px solid #b0b0b0;border-top:1px solid #fff;padding:8px 8px 9px 10px;width:190px;z-index:10}
#fb_multi_friend_selector{background:#f7f7f7;margin:10px;text-align:left;font-size: 11px}
.dialog_content #fb_multi_friend_selector{margin:0}
#fb_multi_friend_selector.showborder{margin:0;border:10px solid #d2d9e6}
.num_cols_2{width:368px}
.num_cols_3{width:466px}
.num_cols_4{width:605px}
.num_cols_5{width:740px}
#fb_multi_friend_selector a:focus,#fb_multi_friend_selector a:hover,#fb_multi_friend_selector a:active{outline:none}
#fb_multi_friend_selector form{margin:0;padding:0}
#fb_multi_friend_selector_wrapper{padding:11px;background:#f7f7f7}
.showborder #fb_multi_friend_selector_wrapper{border:1px solid #8598c0}
#fb_multi_friend_selector_notice{font-size: 13px;font-weight:bold;padding:8px;border:1px solid #ffe222;background:#fff8cc;text-align:center;z-index:99}
.num_cols_2 #fb_multi_friend_selector_notice{left:25px}
.num_cols_3 #fb_multi_friend_selector_notice{left:70px}
#fb_multi_friend_selector_stats{padding:6px;background:#e7ebf5}
#fb_multi_friend_selector h2{color:#222;font-size: 15px;margin:0;padding:0 0 4px 0}
#fb_multi_friend_selector h3{color:#999;font-size: 11px;font-weight:normal;margin:0;padding:0 0 8px 0;border-bottom:1px solid #e0e0e0}
#fb_multi_friend_selector h3 strong{font-weight:normal}
#fb_multi_friend_selector h3 .highlight{color:#c90000;font-weight:bold}
#fb_multi_friend_selector .multi_friend_status{color:#444;display:block;padding:0 0 8px 0}
.condensed_multi_friend_selector{position:relative}
#fb_multi_friend_selector #skip_top{float:right;display:block;margin:-3px 0 0 0;padding:3px;margin-top:1px}
.condensed_multi_friend_selector .typeahead_holder .hide{position:absolute;top:3px;right:2px;cursor:pointer;cursor:hand}
.condensed_multi_friend_selector .typeahead_holder .hide,#fb_multi_friend_selector .hide{float:left;display:block;height:14px;width:13px;margin-right:3px;background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yj/r/8GjbXdJ3l4S.gif) no-repeat top left}
#fb_multi_friend_selector .hide:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yj/r/euPl6cXMZbg.gif)}
#fb_multi_friend_selector #finder{position:relative;color:#555;font-size: 13px;padding:8px 0 14px 8px}
#fb_multi_friend_selector #finder .hide{margin-left:-17px;float:left;margin-top:4px}
#fb_multi_friend_selector #finder label{float:left;padding:5px 7px 0 0;font-size: 11px}
#fb_multi_friend_selector #finder .inputtext{float:left}
#fb_multi_friend_selector #finder td.emailinvitelabel{color:#3b5998;text-align:right}
.num_cols_2 #fb_multi_friend_selector_wrapper #finder .inputtext{width:220px}
#fb_multi_friend_selector #finder .friend_list{display:block;float:right;font-size: 11px;padding:5px}
#fb_multi_friend_selector #finder .num_selected{display:block;float:right;font-size: 11px;padding:5px}
#fb_multi_friend_selector .filters{border:1px solid #c1c1c1;background:#f6f6f6}
#fb_multi_friend_selector .filters p,#fb_multi_friend_selector .filters ul{color:#666;margin:0;padding:0}
#fb_multi_friend_selector .filters #fs_networks{float:left}
#fb_multi_friend_selector #max_limit_notice{float:left;font-weight:bold;padding:5px 0 0 35px}
#fb_multi_friend_selector #fs_current_filter{color:#555;padding:5px 7px;border-right:1px solid #c1c1c1;border-left:1px solid #c1c1c1;background:#eee}
#fb_multi_friend_selector #fs_current_filter .select{float:right;display:block;padding:0 5px}
#fb_multi_friend_selector #fs_networks .global_menu_arrow_active,#fb_multi_friend_selector #fs_filter_links{position:relative;font-size: 11px;float:right;display:block;padding:5px 0 0}
#fb_multi_friend_selector .cols_squeeze #fs_filter_links{margin-top:-3px;margin-bottom:9px}
#fb_multi_friend_selector #fs_filter_links a{padding:4px 7px}
#fb_multi_friend_selector #fs_networks .global_menu_arrow_active,#fb_multi_friend_selector #fs_filter_links a.active{color:#fff;text-decoration:none;border-color:#526ea6;background:#7489b7}
#fb_multi_friend_selector .navigator_menu{position:absolute;top:28px;right:0;z-index:90}
#fb_multi_friend_selector .cols_squeeze .navigator_menu{top:26px}
#fb_multi_friend_selector #fs_limit_by_list_menu{right:104px}
#fb_multi_friend_selector .navigator_menu ul{font-size: 11px;border:1px solid #526ea6;padding:3px 0;max-height:220px;min-width:140px;overflow:auto;background:#fff;z-index:92}
#fb_multi_friend_selector .navigator_menu ul li{margin:0}
#fb_multi_friend_selector .navigator_menu ul li a{display:block;padding:3px 8px}
#fb_multi_friend_selector .navigator_menu ul li a:hover{color:#fff;text-decoration:none;background:#7489b7}
#fb_multi_friend_selector .filters .selections li{float:left;text-align:center;padding:4px 1px 4px 1px}
#fb_multi_friend_selector .filters .selections .browse{padding-left:4px;width:50px}
#fb_multi_friend_selector .filters .sel_filters{float:right;font-size: 11px;padding:3px 10px 3px}
#fb_multi_friend_selector .filters .sel_filters
.PillFilter_pillfilter .PillFilter_filter .bl{padding:1px 6px 2px}
#fb_multi_friend_selector_wrapper .email_section{background-color:#f2f2f2;padding:10px;border:1px solid #bdc6d7;border-top:none;height:80px}
#fb_multi_friend_selector_wrapper .email_section{color:#999}
#fb_multi_friend_selector_wrapper .email_section .mfs_email_title{padding:0 10px;vertical-align:baseline}
#email-tokenizer div.tokenizer{border:1px solid #bdc6d7;height:40px;width:auto;margin:10px}
#fb_multi_friend_selector .filters .view_on{float:left;overflow:visible}
#fb_multi_friend_selector .filters .view_on a{border:solid 1px #c1c1c1;border-right:solid 1px #f6f6f6;display:block;margin:-1px;width:90px;padding:5px 8px 6px;position:relative}
#fb_multi_friend_selector .filters .view_on a .link_container{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yD/r/DxSTxQI9OPB.gif) no-repeat right 5px;padding-left:2px;padding-right:12px}
#fb_multi_friend_selector .filters .view_on a:hover,#fb_multi_friend_selector .filters a.drop_menu_enabled{background-color:#6d85b5;border:solid 1px #3b5998;color:#fff;text-decoration:none}
#fb_multi_friend_selector .filters .view_on a:hover .link_container,#fb_multi_friend_selector .filters a.drop_menu_enabled .link_container{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yp/r/kugL4GIPuMf.gif)}
#fb_multi_friend_selector #friends{z-index:1;padding:0 0 0 3px;height:300px;overflow:auto;border:1px solid #e7ebf5;border:1px solid #c1c1c1;border-top:none;background:#fff}
#fb_multi_friend_selector #friends li{float:left;margin:3px;height:64px;overflow:hidden;cursor:hand;width:134px}
#fb_multi_friend_selector #friends a{display:block;height:56px;padding:4px}
#fb_multi_friend_selector #friends a:hover{text-decoration:none}
#fb_multi_friend_selector #friends .square{position:relative;float:left;border:1px solid #e0e0e0;margin-right:5px;padding:2px;display:block;height:50px;width:50px;background-position:2px 2px;background-repeat:no-repeat;background-color:#fff;cursor:hand}
#fb_multi_friend_selector #friends .square span{position:absolute;top:2px;left:2px;display:block;height:50px;width:50px;background-position:bottom left;background-repeat:no-repeat}
#fb_multi_friend_selector #friends strong,#fb_multi_friend_selector #friends .network{display:block;float:left;width:65px}
#fb_multi_friend_selector #friends strong{font-size: 11px;color:#222;font-weight:normal;margin-top:2px;cursor:hand}
#fb_multi_friend_selector #friends .network{color:#666;font-size: 9px;white-space:nowrap;margin-top:3px;cursor:hand}
#fb_multi_friend_selector #actions{margin-bottom:5px}
#fb_multi_friend_selector #actions #actions_select_all{padding-right:7px}
.condensed_multi_friend_selector label span em,#fb_multi_friend_selector #friends em{color:#000;font-style:normal;font-weight:bold;background:#dce1e8}
#fb_multi_friend_selector #friends .inputcheckbox{display:none}
#fb_multi_friend_selector #friends a:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/dIDfglhqlR7.gif) no-repeat top left}
#fb_multi_friend_selector #friends a:hover strong{color:#000}
#fb_multi_friend_selector #friends a:hover .square{border-color:#205c98}
#fb_multi_friend_selector #friends li.selected{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yI/r/Te11kMtdw9b.gif) no-repeat top left}
#fb_multi_friend_selector #friends li.gray{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/dIDfglhqlR7.gif) no-repeat top left}
#fb_multi_friend_selector #friends li.selected strong{color:#fff}
#fb_multi_friend_selector #friends li.selected span{color:#c3cddf}
#fb_multi_friend_selector #friends li.selected a:hover,#fb_multi_friend_selector #friends li.selected a{color:#e7ebf5;background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yI/r/Te11kMtdw9b.gif) no-repeat top left}
#fb_multi_friend_selector #friends li.selected em{color:#fff;background:#6e84b3}
#fb_multi_friend_selector #friends li.selected a:hover em,#fb_multi_friend_selector #friends li.selected a:hover strong{color:#fff}
#fb_multi_friend_selector #friends li.selected .square{border-color:#b1c1e1;background-color:#8497c0}
#fb_multi_friend_selector #friends li.selected .square span{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yZ/r/b5ezMxpHxyE.gif)}
#fb_multi_friend_selector #friends .disabled{opacity:.50}
#fb_multi_friend_selector #friends li.disabled a:hover em,#fb_multi_friend_selector #friends li.disabled a:hover strong{color:#222}
#fb_multi_friend_selector #friends .disabled a{cursor:default;border:none}
#fb_multi_friend_selector #friends .disabled strong{cursor:default}
#fb_multi_friend_selector #friends .disabled .square{cursor:default}
#fb_multi_friend_selector #friends .disabled span{cursor:default}
#fb_multi_friend_selector #friends .disabled a:hover{background:none}
#fb_multi_friend_selector #friends .disabled a:hover .square{border-color:#e0e0e0}
#fb_multi_friend_selector div.disabled{background-color:#efefef;font-weight:bold;padding:5px;margin-top:8px;border:1px solid;border-color:grey;width:auto}
#fb_multi_friend_selector .disabled_reason{font-size: 9px}
#fb_multi_friend_selector label.mfs_form{color:#333;font-size: 13px}
label.mfs_form{padding-right:8px}
#fb_multi_friend_selector .searching li{display:none}
#fb_multi_friend_selector .buttons{padding:10px 0 0 0}
#fs_dropdown .dropdown_menu_header_shadow .menu_content{border:solid 1px #3b5998;background:white;height:200px;margin:0 10px 0 0;padding:5px 0;overflow:auto}
.condensed_multi_friend_selector{border:1px solid #bdc7d8;visibility:hidden}
.condensed_multi_friend_selector .inputtext{display:block;margin:0;border:0}
.condensed_multi_friend_selector label{display:block;margin:0 0 0 0;font-weight:normal;color:#000;cursor:default}
.condensed_multi_friend_selector label input{display:block;float:left}
.condensed_multi_friend_selector span{display:block;padding-top:3px;cursor:default}
.condensed_multi_friend_selector .unselected_list .selected{background:#dce1e8}
.condensed_multi_friend_selector .unselected_list .selected em{background:white}
.condensed_multi_friend_selector .unselected_list{overflow:auto;height:60px;border-top:1px solid #bdc7d8;border-bottom:1px solid #bdc7d8}
.condensed_multi_friend_selector .nobody_selected{padding:2px 3px}
.condensed_multi_friend_selector .toomany_selected{padding:10px;border:solid 1px #dd3c10;left:20px;right:20px;background:#ffebe8;position:absolute}
.condensed_multi_friend_selector .selected_list{overflow:auto;height:60px;margin-top:2px;border-top:1px solid #bdc7d8}
.condensed_multi_friend_selector .selected_list input{display:none}
.condensed_multi_friend_selector .selected_list label span{padding-top:2px;padding-left:20px}
.condensed_multi_friend_selector .selected_list label{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/ya/r/lckmFI8qmnX.gif) no-repeat 4px 2px}
.condensed_multi_friend_selector .selected_list label:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yQ/r/HO_GBYmDiTm.gif) no-repeat 4px 2px}
.ads_upsell{float:right;position:relative}
.resetstyles{padding:0;border:0;margin:0;overflow:visible;background:none;border-spacing:0;color:#000;cursor:auto;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:left;text-decoration:none;text-indent:0;visibility:visible;white-space:normal;word-spacing:normal}
input.request_form_submit{background:#3B5998 url(http://static.ak.fbcdn.net/rsrc.php/v1/y2/r/o9lVYBu_BkE.gif) no-repeat 8px 6px;padding:3px 6px 3px 26px}
.fbChatLiveListenTab .wrap{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yC/r/Pm-a0iEMj8t.png) 0 1px no-repeat;padding-left:20px}
.fbChatLiveListenTab .wrap .name{padding-right:3px}
.fbDockChatTab.highlight .fbNubButton .fbChatLiveListenTab .wrap{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yf/r/OLh2eY9cN4s.png)}
.livelisten .titlebarTextWrapper{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yf/r/OLh2eY9cN4s.png) 0 2px no-repeat;padding-left:20px}
.ego_wide div#globalContainer{width:1020px}
.ego_wide .hasRightCol #contentArea{width:760px}
.ego_wide.liquid div#globalContainer{min-width:1020px}
.creditsBalanceIcon{margin-bottom:-3px}
.get_more_loading{display:none}
.async_saving.get_more_loading{display:inline}
#pagebody.confirminvite #content{padding:0;width:760px}
#reqs_standard_status .status{margin-top:10px}
.confirminvite #home_container #home_main{border:0;padding:0}
.confirm_boxes{background:#fff;border:0;margin-bottom:5px}
.confirm{padding:10px 0 5px 0;margin-bottom:5px;background:white;border-top:1px solid #d8dfea}
.status_confirm{padding:6px 20px;margin:0 0 -1px;background-color:#f7f7f7;border-color:#ccc;border-style:solid;border-width:1px 0 1px 0;color:#333;line-height:15px}
.status_confirm img{vertical-align:middle;margin-right:4px;margin-top:3px;margin-bottom:3px}
.confirm .image{width:110px;text-align:left}
.confirm label{color:#000;font-weight:normal}
.confirm td{vertical-align:top}
.confirm td.info{width:100%;padding:4px 0 0 10px}
.confirm td.info .tos_portion{font-size: 9px;line-height:13px;padding-top:10px}
.confirm .invite_details{font-size: 9px;color:#999}
.confirm .invite_question{margin:10px 0}
.addToFLRequests_Link{display:none}
.confirm .addToFLRequests_Hidden .add_to_friend_list_widget{display:none}
.confirm .add_to_friend_list_widget{padding-top:0}
.confirm .addToFLRequests_Hidden .addToFLRequests_Link{display:block}
.confirm .addToFLRequests{padding-top:10px}
.confirminvite .UIConnectControls{padding:8px 0 5px}
.buttons{float:none;padding:0}
.buttons .msg_link{display:inline-block;margin:4px 0 0 8px}
.aux_actions{font-size: 9px;padding-top:10px}
.confirminvite .inputsubmit,.confirminvite .inputbutton{margin-right:5px}
.profile_link{font-weight:bold;font-size: 13px}
.personal_msg{color:#000;padding:8px 0 4px}
.personal_msg .direction_ltr .start_quote{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yz/r/j_x6_e8Haxo.gif) no-repeat top}
.personal_msg .direction_rtl .start_quote{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yq/r/6yLaDlr93Ya.gif) no-repeat top}
.personal_msg .msg_content{padding:0 5px 0 5px}
.personal_msg .direction_ltr .end_quote{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/ya/r/RTC56GNi1LC.gif) no-repeat bottom}
.personal_msg .direction_rtl .end_quote{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yl/r/oeTz_cbfYKY.gif) no-repeat bottom}
.Locale_fr_FR .personal_msg .start_quote{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yM/r/kdpl4gIdqt9.gif) no-repeat left top}
.Locale_fr_FR .personal_msg .end_quote{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yx/r/9qZYWKJ4xGh.gif) no-repeat top right}
.confirm .suggestion_details{font-size: 9px;color:#999;margin:12px 0 0 4px}
.confirminvite .new_user_action{padding:0}
.confirminvite .new_user_action a{font-weight:bold;padding:2px 0 4px 20px;display:inline-block}
.confirminvite .new_user_action .wall{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yn/r/slh9ZgwfrSA.gif) no-repeat left}
.confirminvite .new_user_action .message{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yS/r/I-6WhcLLGrb.gif) no-repeat left}
.confirminvite .new_user_action .view_profile{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yC/r/kynJfU3IwbY.gif) no-repeat left}
.confirminvite .new_user_action .suggest{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yg/r/olfiynbWBJH.gif) no-repeat left}
.confirminvite #friend_suggestion_main .whatsthis{margin:0 0 3px 7px;padding:0 3px 0 3px;font-size: 9px}
.confirm .external_friend_suggestion_msg{margin-top:7px;width:350px}
.external_name_placeholder{padding-bottom:50px}
.confirm_boxes .photo_request img{border:1px solid #ccc;padding:3px;width:116px}
.video_confirm_all{border-top:1px solid #d8dfea;padding:15px 20px;text-align:left}
.video_confirm_all .confirm_prompt{padding:0 0 10px 0}
.video_confirm_all .confirm_buttons .inputbutton{margin:0}
.confirm_boxes .video_tag_thumb{float:left;padding:0 0 10px 0;width:175px}
.confirm_boxes .video_tag_info{float:left;width:240px}
.confirm_boxes .playing .video_tag_thumb,.confirm_boxes .playing .video_tag_info{float:none;width:auto}
.confirm_boxes .video_tag_info .video_tag_request .video_title_link{font-weight:bold}
.confirm_boxes .video_tag_info .video_tag_people{padding:10px 5px}
.confirm_boxes .video_tag_info .video_tag_people .inputcheckbox{margin-right:5px}
.reqs_dialog #req_dialog_checkboxes{padding-left:10px;padding-top:10px;padding-bottom:5px}
.reqs_dialog #req_dialog_checkboxes label{font-weight:normal;color:#000}
.reqs_dialog #req_dialog_checkboxes input{margin-right:5px}
.connect_request_text{padding-bottom:10px}
.connect_request_block{padding-left:5px;font-size: 11px}
.phonebook_req td{vertical-align:middle}
.hiddenreqsiframe{height:1px;left:-1000px;position:absolute;top:-1000px;visibility:hidden;width:1px}
.confirm_boxes .show_family_checkbox{padding-top:10px}
.confirm_boxes .show_family.buttons{padding-top:10px}
.confirm_boxes .async_saving{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yG/r/b53Ajb4ihCP.gif) no-repeat 0 0;height:30px}
.confirm_boxes .async_saving div{display:none}
.invite_checkboxes_container{margin:10px 0}
.invite_checkboxes{margin:3px 0}
.invite_checkbox{color:#333;float:left}
.fbReqBlankState{border-top:2px solid #ccc;text-align:center;font-size: 13px}
.fbRequestList .async_saving{position:relative}
.fbRequestList .loadingIndicator{display:none;top:50%;left:50%;margin:-5px 0 0 -8px;position:absolute}
.fbRequestList .async_saving .loadingIndicator{display:block}
.fbRequestList .async_saving .addButtonWrapper,.fbRequestList .async_saving .uiButton{visibility:hidden}
div.fbRequestList .addButtonWrapper{display:inline-block;margin-right:5px;text-align:left}
.fbRequestList .addButtonWrapper .FriendListMenu li,#fbRequestsFlyout .addButtonWrapper .FriendListMenu li{overflow:hidden;padding:0;text-overflow:ellipsis;white-space:nowrap}
.fbRequestList .networkContextWrapper{margin:2px 0}
.canvas .canvasSidebar{position:relative}
.canvasBookmarks{background-color:#edeff4;border-bottom:solid 1px #88a5c5;border-right:solid 1px #b6cadc;height:74px;position:relative;width:100%}
.canvasBookmarks .bookmarks{padding:6px 1px 0 2px}
.canvasBookmarks .bookmarks li{padding-left:0}
.canvasBookmarks .bookmark{background-color:#fff;height:38px;margin:0 1px 0 1px;position:relative;width:38px}
.canvasBookmarks .bookmark .mask{display:block;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-271px -94px;height:40px;position:absolute;width:40px}
.canvasBookmarks .appBookmark .bookmark:active .mask,.canvasBookmarks .appBookmark .bookmark:focus .mask{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-312px -94px}
.canvasBookmarks .bookmark:hover{text-decoration:none}
.canvasBookmarks .bookmark .logo{display:block;height:34px;padding:2px;width:34px}
.canvasBookmarks .bookmark .countWrap{position:absolute;right:-2px;text-align:right;top:-3px}
.canvasBookmarks .bookmark .count{box-shadow:0 1px 0 rgba(0, 0, 0, .5);z-index:1}
.canvasBookmarks .bookmark .count,.canvasBookmarks .bookmark .countValue,.canvasBookmarks .bookmark .maxCountIndicator{background-color:#f03d25 !important;color:#fff !important}
.canvasBookmarks .bookmark .uiSideNavCountSprited{background:none #f03d25 !important;padding:0 3px}
.canvasBookmarks .bookmark .uiSideNavCountSprited span.countValue{background:none #f03d25 !important;padding:0 1px 1px 1px}
.canvasBookmarks .bookmarkFlyout{display:none;left:4px;padding-top:7px;position:absolute;top:45px;z-index:100}
.canvasBookmarks .bookmarkWrap:hover .bookmarkFlyout{display:block}
.canvasBookmarks .bookmarkFlyout .content{background:white;border:1px solid #333;border-bottom:2px solid #283e6a;max-height:280px;overflow-x:hidden;overflow-y:auto;position:relative;width:244px}
.canvasBookmarks .bookmarkFlyout .content .requestsList li{display:block;padding:5px;text-decoration:none}
.canvasBookmarks .bookmarkFlyout .content .requestsList li:hover{background-color:#e0e4ee}
.canvasBookmarks .bookmarkFlyout .content .requestsList li a{color:#333;text-decoration:none}
.canvasBookmarks .bookmarkFlyout .footer{margin-top:5px;text-align:right}
.canvasBookmarks .bookmarkFlyout .nub{display:block;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-34px -49px;height:8px;position:absolute;top:0;width:13px;z-index:1}
.canvasBookmarks .nub1{left:14px}
.canvasBookmarks .nub2{left:54px}
.canvasBookmarks .nub3{left:94px}
.canvasBookmarks .nub4{left:134px}
.canvasBookmarks .nub5{left:174px}
.canvasBookmarks .nub6{left:214px}
.canvasBookmarksSeeAllFlyout .content{max-height:280px;overflow-x:hidden;overflow-y:auto}
.canvasBookmarksSeeAllFlyout .moreBookmarksList{border-top:1px solid #ccc;margin:0 10px;padding-top:10px}
.canvasBookmarksSeeAllFlyout .moreBookmarksList .bookmarkItem{margin:0 -5px;padding:0}
.canvasBookmarksSeeAllFlyout .moreBookmarksList .bookmarkItem img{height:16px;width:16px}
.canvasBookmarks .seeAllBookmark .uiMorePagerPrimary{padding:5px 15px}
.canvasBookmarks .seeAllBookmark.selected .uiMorePager .uiMorePagerPrimary{background-color:#d8dfea}
.canvas_iframe_util{overflow:hidden;width:760px;height:800px}
.canvas_rel_positioning{position:relative;overflow:hidden;zoom:1}
#canvas_throbber{display:none;padding:220px 0;text-align:center}
#canvas_throbber.async_saving{display:block}
#iframe_canvas,
#iframe_canvas_fb_https{width:100%}
body.canvas_fixed div#blueBar{position:fixed;left:0;top:0}
body.canvas_fixed div#pageHead{width:1006px}
body.canvas_fixed.liquid div#pageHead{left:0;width:100%}
body.canvas_fixed div#rightCol{height:1px}
body.canvas_fixed .fixedAux{border-left:solid 1px #b3b3b3;border-right:solid 1px #b3b3b3;bottom:0;margin-left:-1px;position:fixed;top:41px}
body.canvas_fixed.hasSlimHeader .fixedAux{top:38px}
body.canvas_fixed .fixedAux div#pagelet_ego_pane{background-color:#fff;bottom:0;padding-bottom:31px;position:absolute;z-index:10}
.achievementLockedContainer{position:relative}
.achievementLockedOverlay{z-index:1;position:absolute;right:21px;top:18px;pointer-events:none}
.achievementPreview{display:block;margin-right:1px}
.achievementLockedContainer .achievementPreview{opacity:.3}
.achievementTooltip{display:block}
.UIImageBlock_Entity .UIImageBlock_Image .img.achievementLockedOverlay{width:11px;height:13px}
body.canvas .ego_unit{margin-left:3px;margin-right:3px}
body.canvas #blueBar{min-width:1006px}
body.canvas #blueBar div#pageHead,
body.canvas div#globalContainer{width:1006px}
body.canvas div#globalContainer{padding-left:0}
body.canvas.liquid #blueBar div#pageHead,
body.canvas.liquid div#globalContainer{min-width:1020px}
body.canvas #mainContainer{border-right:1px solid #b3b3b3}
body.canvas #contentCol{padding-top:0}
body.canvas #rightCol{border-left:1px solid #b3b3b3;margin-left:-1px;min-height:1px}
body.canvas #bottomContent{display:none}
body.canvas #contentCurve{margin:0 8px}
body.canvas #footerContainer{margin:0 8px 25px 8px}
body.canvas div#contentArea{border-right:1px solid #b3b3b3}
body.canvas div#contentArea::after{display:none}
body.canvas.center_fixed_width_app #pagelet_canvas_content{margin:0 auto;width:760px}
body.canvas #rightCol .fbFeedTicker,body.canvas #rightCol .fbFeedTicker .scrollTopPrompt{width:244px}
body.canvas #rightCol .fbFeedTicker .ticker_container{max-height:10000px;width:265px}
body.canvas .fbFeedTicker .tickerPhotoAttachment{display:block}
body.canvas #rightCol .fbFeedTickerStory .ticker_timestamp{white-space:nowrap}
.tabs{padding:0;border-bottom:1px solid #ccc}
.tabs.top{background:#f7f7f7}
.tabs .left_tabs{padding-left:10px;float:left}
.tabs .right_tabs{padding-right:10px;float:right}
.tabs .back_links{padding-right:20px;float:right}
.toggle_tabs{text-align:center;margin-bottom:-1px}
.toggle_tabs li{display:inline;padding:2px 0 3px;background:#f1f1f1 url(http://static.ak.fbcdn.net/rsrc.php/v1/ys/r/YoX0fw76s5z.gif) top left repeat-x}
.toggle_tabs li a{border:1px solid #898989;border-left:0;color:#333;font-weight:bold;padding:2px 8px 3px 9px;display:inline-block}
.toggle_tabs li a small{font-size: 11px;font-weight:normal}
.toggle_tabs li a:focus{outline:0}
.toggle_tabs li.first a{border:1px solid #898989}
.toggle_tabs li a.selected{margin-left:-1px;background:#6d84b4;border:1px solid #3b5998;border-left:1px solid #5973a9;border-right:1px solid #5973a9;color:#fff}
.toggle_tabs li.last a.selected{margin-left:-1px;border-left:1px solid #5973a9;border-right:1px solid #36538f}
.toggle_tabs li.first a.selected{margin:0;border-left:1px solid #36538f;border-right:1px solid #5973a9}
.toggle_tabs li.first.last a.selected{border:1px solid #36538f}
.toggle_tabs li a.selected:hover{text-decoration:none}
.toggle_tabs li a.disabled{color:#999;cursor:default}
.toggle_tabs li a.disabled:hover{text-decoration:none}
.toggle_tabs .hidden{display:none}
.typeahead_list{background:transparent;border:1px solid #bdc7d8;border-top:none;font-size: 11px;margin-top:-1px;overflow:auto;position:absolute;text-align:left;z-index:97}
.generic_dialog .typeahead_list,.typeahead_list_absolute{z-index:400}
.typeahead_list .typeahead_suggestion,.typeahead_list .typeahead_message{border-top:1px solid #ddd;padding:3px}
.typeahead_list .typeahead_suggestion{background:#fff;color:#000;cursor:default;opacity:.94}
.typeahead_list .typeahead_suggestion:hover{cursor:pointer;cursor:hand}
.typeahead_list .typeahead_suggestion em{background:#d8dfea;color:#000;font-style:normal;font-weight:bold}
.typeahead_list .typeahead_suggestion small{color:gray;padding-left:5px}
.typeahead_list .typeahead_selected{background:#3b5998;color:#fff;opacity:1}
.typeahead_list .typeahead_selected small{color:#95a5c6}
.typeahead_list .typeahead_selected em{background:#5670a6;color:#fff}
.typeahead_list .typeahead_message{background:#eee;color:#333}
input.typeahead_found{background-color:#e1e9f6}
.typeahead_iframe{left:0;opacity:0;position:absolute;top:0}
.typeahead_parent{margin:0;padding:0;overflow:visible;position:relative;float:left;width:0;height:0}
.typeahead_list_icon{width:27px;height:22px;position:absolute;left:-30px;top:3px;cursor:pointer;padding:0}
.tokenizer{min-height:5px;padding:0 0 3px 3px;width:100%;background:#fff;font-size: 11px}
.tokenizer_locked{background:#f4f4f4}
.tokenizer,.tokenizer *{cursor:text}
.tokenizer .placeholder{color:#777;float:left;margin-top:5px}
.tokenizer input{width:100%}
.tokenizer .tokenizer_input,.tokenizer .token{float:left;margin-right:3px;margin-top:3px}
.tokenizer .tab_stop,.tokenizer .tokenizer_stretcher{display:block;float:left;overflow:hidden}
.tokenizer .tab_stop{height:1px;width:1px}
.tokenizer .tokenizer_stretcher{width:0;padding-top:7px}
#facebook .tokenizer .tab_stop input{border:0 solid black;display:inline;position:relative;left:-500px}
.tokenizer_input_borderless div{left:4px;margin-left:-1px;overflow:hidden;position:relative}
.tokenizer_input_borderless div input{border:3px solid white!important;border-left:none;display:block;margin:-2px 0 -2px -2px;padding:0!important}
.tokenizer div:-moz-first-node{padding-top:1px!important}
.tokenizer_input{max-width:450px;overflow:hidden;padding:1px 0}
#facebook .tokenizer_input input,.tokenizer_input_shadow{border:0 solid black;font-family:'lucida grande', tahoma, verdana, arial, sans-serif;font-size: 11px;padding:0 5px;white-space:pre}
.tokenizer_input_shadow{display:inline;position:absolute;top:-9999999px}
.tokenizer .tokenizer_input_shadow{height:0;display:block;left:0;overflow:hidden;position:relative;top:0}
div.tokenizer .inline_placeholder{color:#777;display:block;float:left;padding:5px 0 0 2px}
div.tokenizer .token{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yK/r/mD9hhq3V835.gif);background-repeat:no-repeat;color:#000;white-space:nowrap}
div.tokenizer .token span{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yK/r/mD9hhq3V835.gif);background-position:top right;background-repeat:no-repeat;display:block}
div.tokenizer .token span span{background-position:bottom right}
div.tokenizer .token span span span{background-position:bottom left}
div.tokenizer .token span span span span{background-image:none;padding:2px 3px 2px 5px}
div.tokenizer.tokenizer_locked .token span span span span{padding-right:5px}
html div.tokenizer_locked .token:hover,html div.tokenizer_locked .token:hover span{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yK/r/mD9hhq3V835.gif)}
div.tokenizer .token:hover,div.tokenizer .token:hover span{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/ym/r/Ze4Z6J_Shqw.gif);text-decoration:none}
div.tokenizer .token_selected,div.tokenizer .token_selected span,div.tokenizer .token_selected:hover,div.tokenizer .token_selected:hover span{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yY/r/4A94TeChhwl.gif);color:#fff;text-decoration:none}
div.tokenizer .token span.x,div.tokenizer .token span.x_hover,div.tokenizer .token:hover span.x,div.tokenizer .token:hover span.x_hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/IJYgcESal33.png) no-repeat -842px -64px;cursor:pointer;display:inline;padding:0 6px 0 5px}
div.tokenizer.tokenizer_locked .token span.x,div.tokenizer.tokenizer_locked .token span.x_hover{display:none}
div.standard_tokenizer div.tokenizer{border:solid 1px #8f96bd}
.typeahead_list .typeahead_suggestion .with_pic small{padding-left:0}
.contextual_dialog .generic_dialog_popup{padding-top:9px;position:absolute;width:360px}
.contextual_dialog .arrow{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png);background-repeat:no-repeat;background-position:-34px -49px;height:9px;margin-left:25px;margin-top:-2px;position:absolute;top:4px;width:13px}
.contextual_dialog .contextual_dialog_content{background:#fff;border:1px solid #333;border-bottom:2px solid #283e6a;line-height:15px}
.contextual_dialog .contextual_dialog_content div.dialog_loading{background:#fff;border:0;font-size: 11px}
.contextual_dialog .dialog_title{color:#000;font-size: 11px;padding-bottom:2px;padding:8px 10px 0}
.contextual_dialog .dialog_body{padding:8px 10px}
.contextual_dialog .dialog_buttons{background-color:#f2f2f2;border-top:1px solid #ccc;padding:8px 10px}
.contextual_dialog .dialog_buttons_msg{float:right}
.contextual_dialog .dialog_loading,.contextual_dialog .dialog_loading_shown .dialog_title,.contextual_dialog .dialog_loading_shown .dialog_content{display:none}
.contextual_dialog .dialog_loading_shown .dialog_loading{display:block}
.uiFlashPixel{position:absolute;width:1px;height:1px}
.uiSelectorBottomUp .openToggler .uiSelectorButton,
.uiSelectorBottomUp .openToggler .uiSelectorButton:active,
.uiSelectorBottomUp .openToggler .uiSelectorButton:focus,
.uiSelectorBottomUp .openToggler .uiSelectorButton:hover,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:active,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:focus,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:hover{border:1px solid #3b5998;border-top-color:#6d84b4}
.uiSelectorBottomUp .uiSelectorMenuWrapper{bottom:100%;margin-bottom:-2px;top:auto}
.uiStickyContainer{position:relative}
.uiContextualLayer .uiStickyArea{position:absolute;top:0}
.uiStickyContainer .uiStickyArea{position:static;top:auto}

#bootloader_nTDUS { height: 42px; }