/*1325568876,169775555*/

.fbEmuStreamStoryAttachment .fbEigenpoll{margin-left:-18px}
.fbEmuStreamStoryAttachment .fbEigenpoll .fbEigenpollPager,
.fbEmuStreamStoryAttachment .fbEigenpoll .fbEigenpollAddOption,
.fbEmuStreamStoryAttachment .fbEigenpoll .fbEigenpollResults{width:146px;white-space:nowrap}
.fbEmuStreamStoryAttachment .fbEigenpoll
.fbEigenpollAddOption .fbEigenpollTypeahead{width:146px}
.fbEmuStreamStoryAttachment .fbEigenpoll .fbEigenpollRow{width:200px}
.fbEmuStreamStoryAttachment .fbEigenpoll .fbEigenpollFacepile{width:24px}
.fbEmuStreamStoryAttachment .pollOptions{margin-left:-18px}
.fbEmuStreamStoryAttachment .pollOptions .fbQuestionsPollResultsBar{width:146px;white-space:nowrap}
.fbEmuStreamStoryAttachment .pollOptions .fbQuestionsPollResultsBar .label{padding:0;text-align:left}
.fbEmuStreamStoryAttachment .pollOptions .pollResultsFacepile{width:24px}
.fbEmuStreamStoryAttachment .pollOptions{table-layout:auto}
.uiComposerMessageBox{background-color:#f2f2f2;border:1px solid #b4bbcd;border-top-width:0;padding:8px;zoom:1}
.uiComposerHideMessageBox .uiComposerMessageBox{display:none}
.uiComposerWhiteMessageBox .uiComposerMessageBox{background-color:#fff;border-width:0;padding:0}
.uiComposerMessageBox .inputContainer{background-color:#fff;border:1px solid #b4bbcd;zoom:1}
.uiComposerHideInput .uiComposerMessageBox .inputContainer{display:none}
.uiComposerMessageBoxControls{margin-top:5px}
.uiComposerHideInput .uiComposerMessageBoxControls{margin-top:0}
.uiComposerMessageBoxMentions .inputContainer{border:none;padding:0;position:relative;zoom:1}
.uiComposerMention .inputContainer{z-index:1}
.uiComposerMessageBox .composerTypeahead{border-bottom:1px solid !important;border-color:#b4bbcd !important}
.uiComposerMessageBox .composerTypeahead .wrap{padding:5px !important;border-color:#b4bbcd !important}
.uiComposerMessageBox .uiMentionsInput .highlighter{font-size: 13px;left:2px;top:2px}
.uiComposerMessageBox .uiMentionsInput .highlighter div{line-height:16px}
.uiComposerMessageBox .input{background:transparent;border-width:0;font-size: 13px;height:16px;margin:0;outline:none;padding:0;resize:none;vertical-align:bottom;width:100%}
.uiComposerMessageBox .textBlurb{line-height:25px}
.uiComposerMessageBox .textBlurb label{vertical-align:baseline}
.uiComposerMessageBox .textBlurb input{vertical-align:middle}
.navIdentity{min-height:38px;border-bottom:1px solid #e0e0e0;margin:5px;padding-bottom:5px}
#navAccount ul .navIdentityPic{float:left}
#navAccount ul .navIdentityPic img{width:28px}
#navAccount ul .navIdentityPic a{padding:5px}
#navAccount ul .navIdentityPic a:hover{padding:4px 5px 4px 5px}
#navAccount ul .navIdentitySub input{font-size: 9px}
#navAccount ul .navIdentityLinks{margin:5px;float:left}
.profile-platform-pane{overflow:hidden;padding-right:0;position:relative;width:520px}
.profile-platform-pane pane-content{overflow:hidden}
body.thirdParty .hasRightCol #contentArea{width:520px}
body.thirdParty #globalContainer{width:1008px !important}
.Locale_ja_JP #navSearch{width:325px}
.Locale_ja_JP #navSearch .uiSearchInput input{width:290px}
.megaphone_story_wrapper{margin-bottom:20px}
.dialog_content .megaphone_story_wrapper{margin-bottom:0}
.megaphone_story{position:relative;overflow:hidden}
.megaphone_story .megaphone_content{font-size: 11px}
.megaphone_story .megaphone_hide_link{float:right}
.megaphone_story_highlighted{background-color:#fcf5d0;border:1px solid #cbb631}
.megaphone_box{background-color:#f5f7fa;border:1px dashed #ced5e5}
.hasLeftCol .megaphone_box{border-width:0 0 1px 0;margin-left:-20px;margin-top:-15px}
#headerArea .megaphone_box{margin-right:-20px;margin-top:-17px}
.megaphone_location_friends{margin:0}
.megaphone_location_privacy{margin-left:auto;margin-right:auto;width:760px}
.mobile_disclaimer{margin-top:2px;color:#999}
.mobile_dash_bar{margin-top:0;padding-top:0}
.mobile_dash{background:#f7f7f7;padding:0 0 18px 0}
.mobile_dash_images,
.mobile_dash_images td{vertical-align:bottom}
.mobile_dash_infos,
.mobile_dash_infos td{vertical-align:top}
.mobile_dash_image{padding:16px 0 0 10px;width:140px}
.mobile_dash_image img{border:solid #ccc 1px;padding:3px}
.mobile_dash_byline{line-height:14px;padding:4px 0 6px 20px}
.mobile_dash_byline strong{display:block;overflow:hidden;width:120px}
.mobile_dash_byline .mobile_dash_comment{display:block;font-size: 9px;padding-top:4px}
.mobile_dash_bottom{background:#fff;border-top:solid #d8dfea 1px;padding:15px 15px 20px}
.mobile_dash_bottom h2{font-size: 11px;font-weight:bold;padding:4px 0 1px 0}
.mobile_url_container{padding:12px 0 12px}
.mobile_dash_bottom p{margin:0;padding:8px 0 0}
.mobile_dash_bottom_left{float:left;padding:12px 30px 15px 7px;width:355px}
.mobile_dash_bottom_left h3{font-size: 11px;font-weight:normal;padding:8px 0}
.mobile_dash_bottom_left .notifications_off{border-top:solid #ccc 1px;color:#666;font-weight:bold;margin-top:16px;padding:16px 0}
.mobile_dash_bottom_left .subscription{color:#444}
.mobile_dash_bottom_left .mobile_texts h2{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/ym/r/y-2LR9eyI1L.gif);background-repeat:no-repeat;background-position:-5px 2px;padding-left:17px}
.mobile_dash_bottom_left .mobile_texts_address{background:#f2f5ff;border:solid #d8dfea 1px;font-size: 14px;font-weight:bold;padding:5px}
.mobile_dash_bottom_left .mobile_subscriptions{padding-top:16px}
.mobile_dash_bottom_right{border-left:solid #ccc 1px;float:left;padding:12px 0 15px 35px;width:250px}
.mobile_dash_bottom_right .mobile_uploads h2{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yx/r/og8V99JVf8G.gif);background-repeat:no-repeat;padding-left:22px}
.mobile_dash_bottom_right .mobile_uploads_address{background:#f2f5ff;border:solid #d8dfea 1px;font-size: 14px;font-weight:bold;padding:5px}
.mobile_dash_bottom_right .mobile_web{padding-top:16px}
.mobile_dash_bottom .mobile_add_app{color:#777;font-weight:bold;padding-top:16px}
.mobile_dash_bottom .confirm_phone{display:block;padding-top:0}
.mobile_dash_bottom .confirm_phone .confirmation_prompt{display:block;margin-top:6px}
.back_to_mobile{display:block;padding:10px 8px 0 0}
.back_to_mobile_right{display:block;float:right;padding:5px 20px 15px 0}
.mobile_settings{margin:0 auto;padding:0 130px 0}
.mobile_settings h2{border-bottom:solid #d8dfea 1px;color:#000;font-size: 11px;font-weight:bold;margin-top:24px;padding:4px 0}
.mobile_settings h3{color:#000;font-size: 12px;font-weight:bold;margin:0;padding:18px 0 8px}
.mobile_settings label{color:#000;font-weight:normal;padding:0;margin:0}
.mobile_account_inlay{background:#f7f7f7;padding-top:10px;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;padding:10px 0 20px}
.mobile_account_inlay #standard_status{margin:30px 120px 20px 128px}
.mobile_account_container{padding:15px 130px 10px}
.mobile_account_main h2{border-bottom:solid #d8dfea 1px;font-size: 12px;font-weight:bold;margin:16px 0 18px;padding:3px 0}
.mobile_account_main h4{margin:30px 0 15px 0}
.mobile_account_main .phones{list-style:none;margin:0;padding:8px 0}
.mobile_account_main .phones li,
.mobile_account_main .mobile_mails li{list-style:none;margin:0;padding:3px 0}
.mobile_account_main .phones li span,
.mobile_account_main .mobile_mails li span{color:#933;font-weight:bold}
.mobile_account_main .phones li small,
.mobile_account_main .mobile_mails li small{color:#777}
.mobile_add_phone{margin-bottom:4px}
.mobile_add_phone td{vertical-align:top}
.mobile_add_phone th{text-align:left}
.mobile_add_phone th{color:#777;font-size: 9px;font-weight:normal;padding:0 0 3px 2px}
.mobile_add_phone td{padding-right:6px}
.mobile_error{background:#ffebe8;border:solid 1px #dd3c10;margin:0 0 5px;padding:5px}
#mobile_conf{background:#fff9d7;border:solid 1px #e2c822;margin:0 0 5px;padding:5px}
#activate .actually_important{padding:8px 20px 8px 10px;background:url(http://static.ak.fbcdn.net/rsrc.php/v1/ys/r/7X-NSgAzXpV.gif) no-repeat bottom left;height:55px}
#activate .actually_important .read_this{font-size: 13px;font-weight:bold;color:#d85d01}
#activate .actually_important .important_text{font-size: 13px;font-weight:bold;color:#391800 }
.mobile_activation_note .note_dialog{margin:0 0 10px}
.mobile_activation_carrier_container{padding:5px 5px 5px 5px}
.mobile_promo_container{display:block;overflow:auto;padding:5px}
.mobile_promo_text{color:#999;padding:10px 0 0 60px}
.mobile_promo_logo{float:left}
.MobileMMSEmailSplash_Container{font-size: 12px;color:#444}
.MobileMMSEmailSplash_Left{float:left;font-size: 13px;padding:5px;width:375px}
.MobileMMSEmailSplash_Pic{width:350px}
.MobileMMSEmailSplash_Right{float:left;font-size: 13px;line-height:1.3;padding:5px;width:400px}
.MobileMMSEmailSplash_Description{padding:5px 0}
.MobileMMSEmailSplash_Address_Container{padding:10px 0}
.MobileMMSEmailSplash_Address{background:#ECEFF5 none repeat scroll 0 0;color:#203360;font-size: 14px;font-weight:bold;padding:7px 0 7px 15px;width:70%}
.MobileMMSEmailSplash_Calltoaction_Container{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yn/r/XdSS2PgDdQ_.gif) no-repeat scroll 0 0;font-weight:bold;margin:10px 0;padding:0 26px}
.MobileMMSEmailSplash_Tipsandtricks_Container{}
.MobileMMSEmailSplash_Tipsandtricks_Title{font-size: 14px;font-weight:bold;padding:5px 0 0}
.MobileMMSEmailSplash_Tipsandtricks_UL{margin:5px 0;padding:0 16px 10px}
.MobileMMSEmailSplash_Tipsandtricks_LI{padding:0}
.MobileMMSEmailSplash_Notice{font-size: 12px;color:#444;line-height:1.3;padding:5px}
.sms_link_dialog{color:#3b5998;line-height:1.5}
.sms_link_dialog_description{font-size: 12px;color:#444}
.sms_link_dialog_label{padding:5px 10px;font-size: 12px;font-weight:bold;color:#444}
.sms_link_dialog_checkbox{color:#444;font-size: 12px;padding:5px 0}
.sms_link_dialog_notice{padding:10px;font-size: 12px;color:#444}
.sms_link_alternative_flow{font-size: 10px;padding:2px 10px}
.sms_link_disclaimer{padding:4px 8px;color:#999}
.atwWidget:hover .fbProfileNavHeaderEditButton{display:block}
.atwWidget .fbProfileNavHeaderEditButton{display:none}
.atwWidget .fbProfileNavHeaderEditButton{position:relative;top:-2px;margin-bottom:-7px}
.pagesElsewhere:hover{background-color:#eff2f7;text-decoration:none}
.pagesElsewhere:hover .pagesElsewhereReportBtn{visibility:visible}
.pagesElsewhere .pagesElsewhereReportBtn{visibility:hidden}
.pagesElsewhere{padding:3px 2px 3px 7px}
.pagesElsewhere a{color:#333;text-decoration:none}
.fbx .pageInfoTable tr th.label{padding-right:8px;width:125px}
.fbx .pageInfoTable div.data_field{width:350px}
.fbx .pageInfoTable div.data_field .day{padding-right:8px}
#wall_section_header .uiSelectorButton,#wall_section_header .uiSelectorButton:active,#wall_section_header .uiSelectorButton:focus,#wall_section_header .uiSelectorButton:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/iCh4O9b6qqE.png);background-repeat:no-repeat;background-position:right -249px;background-color:transparent;border:none;box-shadow:none;-moz-box-shadow:none;margin:0;outline:0;padding:0 20px 2px 0}
#wall_section_header .uiHeaderActions,#wall_section_header .uiSelectorButton .uiButtonText{color:#333;padding:0}
#wall_section_header .uiSelectorButton:hover .uiButtonText{text-decoration:underline}
#wall_section_header .openToggler .uiSelectorButton:hover .uiButtonText{text-decoration:none}
.pagesFriendActivity .uiStreamStory{padding-right:7px}
.pagesFacepileEllipsis{height:24px;width:24px;background-color:#d8dfea}
div.fbGearMenu .uiCloseButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/Rfeox6F2wdM.png);height:16px;width:16px}
div.fbGearMenu .uiCloseButton:hover,div.fbGearMenu .uiCloseButton:focus{background-position:left -32px}
div.fbGearMenu .uiCloseButton:active{background-position:left -48px}
div.fbGearMenu .openToggler .uiCloseButton{background-position:left -32px}
.pageNotifMenu{display:inline-block}
.pageNotifMenu .pageNotifToggler{position:relative}
.pageNotifMenu .pageNotifLink{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/iCh4O9b6qqE.png);background-repeat:no-repeat;background-position:right -249px;padding-right:20px}
.pageNotifMenu .pageNotifBubble{display:inline-block}
.pageNotifMenu .pageNotifPopup{background-color:#fff;border:1px solid #333;border-bottom:2px solid #293e6a;left:0;position:absolute;top:17px;width:330px;z-index:3}
.pageNotifMenu .pageNotifPopupRight{left:auto;right:0}
.pageNotifMenu .pageNotifLoading{display:block;margin:5px auto}
.pageNotifMenu .pageNotifFooter a{background-color:#f7f7f7;border-top:1px solid #e0e0e0;display:block;font-weight:bold;padding:8px;text-align:center}
.pageNotifMenu .pageNotifFooter a:hover,.pageNotifMenu .pageNotifFooter a:active,.pageNotifMenu .pageNotifFooter a:focus{background-color:#6d84b4;border-top:1px solid #3b5998;color:#fff;outline:none;text-decoration:none}
.tipsRightBoxText{width:226px;height:14px;margin-top:5px}
.tipsRecommendButton{margin-top:5px}
.tipsRightList .tipsRightItem{padding:8px 2px 5px 0;border-color:#e9e9e9}
.tipsRightList .tipsRightItem .tipOwner{font-weight:bold}
.tipsRightList .tipsRightItem .tipsRightItemContent{width:180px}
.tipsCloseButton.uiCloseButton,.tipsCloseButton .uiCloseButton{opacity:0}
.tipsCloseButton .openToggler .uiCloseButton,.tipsRightItem:hover .tipsCloseButton .uiCloseButton,.tipsRightItem:hover .tipsCloseButton{opacity:1}
.tipsRightItem .feedbackBling .img{margin-top:-1px}
.fbPrivacyWidget .UIPrivacyTargetedWidget .uiSelectorButton .customimg{margin:0 2px 2px 0}
.fbPrivacyWidget .customEdit .editLink:hover{text-decoration:underline}
.fbPrivacyWidget .customEdit,
.fbPrivacyWidget .checked .customize{display:none}
.fbPrivacyWidget .checked .customEdit{display:inline}
.fbPrivacyWidget .uiSelectorButton .customimg{margin:2px -4px 2px -1px}
#above_the_profile{margin-bottom:21px;margin-left:auto;margin-right:auto;padding-right:180px;width:760px}
#above_the_profile .unpublished a{color:#dd3c10}
#above_the_profile .unpublished a:hover{text-decoration:underline}
#above_the_profile .unpublished img{margin:0 8px}
#above_the_profile .full_width{padding-right:0;width:940px}
.profile .app_tab{position:relative;zoom:1;overflow:hidden}
.pagelet_app_runner_centered{text-align:center}
.fbQuestionsBlingBox{padding:3px 4px;margin-left:-1px;margin-right:-1px;color:#3B5998 !important}
.fbQuestionsBlingBox:hover{text-decoration:none;background-color:#eceff5;border-bottom:1px solid #e5eaf1}
.fbQuestionsBlingBox span{line-height:11px;margin-left:3px}
.fbQuestionsBlingBox .img{margin-left:5px}
.fbQuestionsBlingBox .img:first-child{margin-left:0}
.fbQuestionsBlingBox .img{vertical-align:text-top}
.fbEigenpoll .fbEigenpollCheckbox{cursor:pointer;margin:4px 0 0 5px}
.fbEigenpoll .fbEigenpollCheckbox input{cursor:pointer;margin-left:1px}
.fbEigenpoll .fbEigenpollAddOption,.fbEigenpoll .fbEigenpollPager,.fbEigenpoll .fbEigenpollResults{cursor:pointer;width:236px}
* .fbEigenpoll .fbEigenpollAddOption{margin-top:6px}
.fbEigenpollRow,.fbEigenpollFeed{width:398px}
.fbEigenpollSubstoryAttachment{width:358px}
.fbEigenpoll .fbEigenpollResults,.fbEigenpoll .fbEigenpollPager,.fbEigenpollRow + .fbEigenpollAddOption,.fbEigenpollRow ~ .fbEigenpollAddOption{padding-left:26px}
.fbEigenpoll .fbEigenpollFacepile{width:132px}
.fbEigenpoll .fbEigenpollSelected div,.fbEigenpoll .fbEigenpollResults:hover div,.fbEigenpoll .fbEigenpollCheckbox:hover + .fbEigenpollResults div{border-color:#3b5998}
.fbEigenpoll .fbEigenpollResults:active div{border-color:#1d4088}
.fbEigenpoll .fbEigenpollResults:hover .fbQuestionsPollAttachment,.fbEigenpoll .fbEigenpollCheckbox:hover + .fbEigenpollResults
.fbQuestionsPollAttachment,.fbEigenpoll .fbEigenpollResults:hover .auxlabel,.fbEigenpoll .fbEigenpollCheckbox:hover + .fbEigenpollResults .auxlabel{visibility:visible}
.fbEigenpoll .fbEigenpollRow{padding:2px 0}
.fbEigenpoll .fbEigenpollPager{padding-top:2px}
.fbEigenpoll .fbEigenpollRow + .fbEigenpollAddOption{cursor:default;margin-top:6px}
.fbEigenpoll .fbEigenpollHighlight{background-color:#edeff4;border-left:2px solid #a8b2ce;margin:0 0 0 -2px}
.fbEigenpoll .fbEigenpollRemoveButton{margin:5px 190px 0 0}
.fbQuestionFollowLink .followBackup{display:none}
.fbQuestionFollowLink .followMain{display:inline;margin-left:0}
.pollOptions{width:100%;table-layout:fixed;border-spacing:1px 0 0 0}
.pollOptions .pollRadioBtn{position:relative;top:2px;padding-left:3px;width:26px;vertical-align:top}
.pollOptions .fbOpinionPollHighlight .pollRadioBtn{border-left:2px solid #a8b2ce;width:24px;padding-left:1px}
.pollOptions .pollRadioBtn,.pollOptions .pollRadioBtn input{cursor:pointer}
.pollOptions .pollResultsFacepile{width:171px;vertical-align:top;padding-top:2px}
.pollOptions .pollResultsFacepile .uiFacepile{padding-left:2px}
.pollOptions .selectedPollOption div,.pollOptions .pollResultsBar:hover div,.pollOptions .pollRadioBtn:hover + .pollResultsBar div{border-color:#3b5998}
.pollOptions .pollRadioBtn:hover + .pollResultsBar .auxlabel,.pollOptions .pollResultsBar:hover .auxlabel,.pollOptions .pollRadioBtn:hover + .pollResultsBar .fbQuestionsPollAttachment,.pollOptions .pollResultsBar:hover .fbQuestionsPollAttachment{visibility:visible}
.pollOptions .pollResultsBar{padding:2px 0}
.pollOptions .fbOpinionPollHighlight{background-color:#edeff4}
.fbQuestionsPollPager{color:#6d84b4;display:block;margin-top:2px;text-align:center;border:1px solid #eceff5;height:18px}
.fbQuestionsPollPager span{padding-top:2px;border:1px dashed #bec8dd;height:16px;display:block;margin:-1px}
.fbQuestionsPollPager:hover{background-color:#ebeff4;color:#3b5998;border-color:#d8dfea;text-decoration:none}
.fbQuestionsPollPager:hover span{border-color:#93a4c7}
.fbQuestionsPollResultsBar{position:relative;border:1px solid;border-color:#a4a4a4 #bbb #d5d5d5;padding-top:3px;padding-bottom:6px;background-color:#fff;zoom:1}
.fbQuestionsPollResultsBar .shaded{position:absolute;background-color:#d8dfea;height:100%;top:-1px;left:-1px;border:solid #93a4c7;border-width:1px 0 1px 1px}
.fbQuestionsPollResultsBar .full{border-width:1px}
.fbQuestionsPollResultsBar .label{top:1px;position:relative;line-height:13px;overflow:hidden;color:#3b5998}
.fbQuestionsPollResultsBar .auxlabel{visibility:hidden;position:absolute;right:0;top:0;height:100%;background-color:#fff}
.fbQuestionsPollResultsBar .auxlabel span{position:relative;top:4px}
.fbQuestionsPollResultsBar .auxlabelWithAttachment,.fbQuestionsPollResultsBar .fbQuestionsPollClickTargetWithAttachment{padding-right:25px}
.fbQuestionsPollResultsBar .fbQuestionsPollAttachmentContainer{margin:3px;position:absolute;right:0;top:0;z-index:1}
.fbQuestionsPollResultsBar .fbQuestionsPollAttachment{height:16px;visibility:hidden;width:16px}
.fbQuestionsPollResultsBar .fbQuestionsPollAttachmentIcon:hover{background-color:#6d84b4;border-radius:2px}
.fbQuestionsPollResultsBar .fbQuestionsPollClickTarget{position:absolute;top:-1px;left:-1px;right:-1px;cursor:pointer;z-index:1;height:100%}
.sp_44dtr1{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yq/r/bL3CXYdEWUU.png);background-repeat:no-repeat;display:inline-block;height:16px;width:15px}
.sx_ebfa5c{background-position:-0px -33px}
.sx_ca375b{width:10px;height:10px;background-position:-0px -67px}
.sx_dd8d24{width:9px;height:14px;background-position:-9px -0px}
.selected .sx_dd8d24{background-position:-0px -0px}
.sx_b01948{background-position:-0px -50px}
.sx_8c758c{width:16px;height:17px;background-position:-0px -15px}
.sx_51e131{width:8px;height:8px;background-position:-0px -78px}
.sx_b48e9c{width:8px;height:8px;background-position:-9px -78px}
.sp_7oewf3{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yB/r/zkMX4KK0nAE.png);background-repeat:no-repeat;display:inline-block;height:13px;width:13px}
.sx_74e603{background-position:-0px -40px}
.sx_5c7078{background-position:-14px -40px}
.sx_47f5cc{width:16px;height:16px;background-position:-16px -0px}
.sx_47f5cc:hover{background-position:-0px -0px}
.sx_3e7f3b{width:22px;height:22px;background-position:-0px -17px}
.uiFacepile .fbFacepileItemMore{background-color:#eceff5;text-align:center;vertical-align:middle}
.uiFacepile .fbFacepileItemMore .fbFacepileItemMoreText{color:#6d84b4;display:block;font-family:Helvetica, Arial, sans-serif;font-weight:bold;text-decoration:none}
.uiFacepileSmall .fbFacepileItemMore{height:24px;line-height:25px;width:24px}
.uiFacepileSmall .fbFacepileItemMoreLow,.uiFacepileSmall .fbFacepileItemMoreMedium{font-size: 11px}
.uiFacepileMedium .fbFacepileItemMore{height:32px;line-height:33px;width:32px}
.uiFacepileMedium .fbFacepileItemMoreLow,.uiFacepileMedium .fbFacepileItemMoreMedium{font-size: 14px}
.uiFacepileMedium .fbFacepileItemMoreHigh{font-size: 11px}
.uiFacepileMedium .fbFacepileItemMoreSuperHigh{font-size: 8px}
.uiFacepileLarge .fbFacepileItemMore{height:50px;line-height:51px;width:50px}
.uiFacepileLarge .fbFacepileItemMoreLow,.uiFacepileLarge .fbFacepileItemMoreMedium{font-size: 19px}
.uiFacepileLarge .fbFacepileItemMoreHigh{font-size: 14px}
.uiFacepileLarge .fbFacepileItemMoreSuperHigh{font-size: 11px}
.uiSideNav .divider{border-bottom:1px solid #ededed;border-top:1px solid #ededed;height:1px;left:auto;display:none;padding-left:0;margin-bottom:1px;width:179px;font-size: 1px;line-height:1px;overflow:hidden}
.editMode .uiSideNav .hidden,
.expandedMode .uiSideNav .hidden,
.expandedMode .uiSideNav .divider{display:block}
.navMoreLessCount{margin:0}
.navMoreText{display:block;width:100%}
.navMoreTextWithCount{width:75% !important}
.navLess{line-height:12px}
div.navLess,
.expandedMode .navMore{display:none}
.expandedMode .navLess{display:block}
.uiNumberGiant{font-family:arial, helvetica}

#bootloader_7qrTs { height: 42px; }