/*1325592982,169776067*/

.qsurvey{background-color:#eceff5;border-top:1px solid #94a3c4;margin:25px}
.qsurvey .qform label{float:left;text-align:left}
.qsurvey .answer_row{padding-bottom:3px}
.qsurvey .answer_row .zip_typeahead{width:100px}
#sidebar_ads .qsurvey{margin:3px;padding:10px 5px;background-color:#fff;border-top:1px solid #e5e5e5}
#sidebar_ads .qsurvey .uiTextTitle{font-size: 11px;padding:0 3px 8px 3px}
#sidebar_ads .qsurvey .qform label{float:right;color:#333;font-size: 11px;font-weight:normal;padding-top:1px}
#sidebar_ads .qsurvey .qform{padding:0}
.fbEmuEgoUnit .qsurvey{background-color:transparent;border-top:1px solid #e9e9e9;margin:3px 3px 8px;padding-top:8px}
.fbEmuEgoUnit .qsurvey .uiTextTitle{font-size: 11px;padding:0 3px 8px 3px}
.fbEmuEgoUnit .qsurvey .qform label{color:#333;float:right;font-size: 11px;font-weight:normal;padding-top:3px}
.fbEmuEgoUnit .qsurvey .qform .lfloat{float:left !important}
.fbEmuEgoUnit .qsurvey .qform{padding:0}
.fbEmuEgoUnit .qsurvey .answer_row{padding-bottom:0}
.fbGlossaryTip{position:relative}
.fbGlossaryTip:hover{text-decoration:none}
.fbGlossaryTip sup{padding-left:1px;font-weight:bold}
.fbGlossaryTipFixedWidth .tipTitle,.fbGlossaryTipFixedWidth .tipBody{line-height:15px;width:250px;white-space:normal !important}
.fbGlossaryTip .tip{text-align:left;position:absolute;z-index:10;display:none;bottom:100%;padding:0 0 7px}
.fbGlossaryTipQ .tip{left:-10px}
.fbGlossaryTip:hover .tip{display:block}
.fbGlossaryTip .noTitle{border-top:solid 1px #888}
.fbGlossaryTip .tipTitle{background-color:#5f78ab;border:solid 1px #28447e;border-bottom:none;color:#fff !important;font-weight:bold;display:block;left:0;padding:3px 8px 4px;white-space:nowrap}
.fbGlossaryTip .tipBody{background-color:#fff;border:solid 1px #999;border-top:none;border-bottom:solid 1px #888;color:#666 !important;font-weight:normal;display:block;left:0;padding:4px 8px 6px;white-space:nowrap;-moz-box-shadow:0 1px 0 rgba(0, 0, 0, .1);box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
.fbGlossaryTip .tipArrow{position:absolute;bottom:3px;left:10px;width:7px;height:5px;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yZ/r/NBSRlkQidlS.png);background-repeat:no-repeat}
.fbGlossaryTip .bottom{bottom:auto;top:100%;padding:4px 0 0}
.fbGlossaryTip .bottom .tipArrow{bottom:auto;top:0;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yZ/r/5r_0VppF7_J.png)}
.fbGlossaryTip .right{left:auto;right:0}
.fbGlossaryTipQ .right{right:-11px}
.fbGlossaryTip .right .tipArrow{left:auto;right:10px}
.fbInsightsTableList td{height:18px;vertical-align:top}
.fbInsightsTableList .subtle{color:#999}
.fbInsightsTableListDigit{padding-right:6px;font-weight:bold;text-align:right;white-space:nowrap}
.fbInsightsTableList .fbInsightsTableListRule{padding:0;vertical-align:middle}
.fbInsightsTableListRule hr{border-bottom:solid 1px #eee;height:0}
.fbInsightsTableListHidden{display:none}
.expandedMode .fbInsightsTableListHidden{display:table-row}
.showLess,
.expandedMode .showMore{display:none}
.showMore,
.expandedMode .showLess{display:inline}
.fbInsightsTinyStatistic{vertical-align:baseline}
.PagesDashboard .uiListItem:first-child{border-top-width:1px}
.pageAdminListItemNotifs{line-height:1em;padding:3px 0 4px}
.adminActions form, .adminActions a{float:left}
.adminActions .closeButton{margin-top:3px}
.sp_csm668{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y3/r/_wD0NaRetnw.png);background-repeat:no-repeat;display:inline-block;height:108px;width:126px}
.sx_56d1c3{background-position:-0px -0px}
.sx_445db5{background-position:-0px -109px}
.sx_e39db3{background-position:-0px -218px}
.sx_0e1903{background-position:-0px -327px}

#bootloader_bUr1V { height: 42px; }